Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated test
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

ensure that internal classes can be registered via Microsoft DI (#324)
  sample/SampleServer/SemanticTokensHandler.cs
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/JsonRpc/DryIoc/DryIocAdapter.cs
  src/JsonRpc/JsonRpcServer.cs
  src/Protocol/Client/DefaultLanguageClientFacade.cs
  src/Protocol/Client/ILanguageClient.cs
  src/Protocol/Client/ILanguageClientFacade.cs
  src/Protocol/Document/Proposals/ISemanticTokensDeltaHandler.cs
  src/Protocol/Models/Proposals/SemanticTokensDeltaParams.cs
  src/Protocol/Server/DefaultLanguageServerFacade.cs
  src/Protocol/Server/ILanguageServer.cs
  src/Protocol/Server/ILanguageServerFacade.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  test/JsonRpc.Tests/ServiceCollectionSupportTests.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/InitializationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed failing tests
  test/Lsp.Tests/Capabilities/Server/DocumentOnTypeFormattingOptionsTests_$SimpleTest.json
  test/Lsp.Tests/Capabilities/Server/ServerCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Models/InitializeResultTests_$SimpleTest.json
Due: prettier --write

double time
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

added back myget packages
  .azure-pipelines.yml
Due: prettier --write

notifications should not cancel, instead they should complete in order as expected (as they are typically fire and forget anyway)
  src/JsonRpc/InputHandler.cs
  src/Protocol/Models/WorkspaceFolder.cs
Due: dotnet nuke lint --no-logo --lint-files

some requests should not be parallel that are
  src/Protocol/Document/IDocumentFormattingHandler.cs
  src/Protocol/Document/IDocumentOnTypeFormattingHandler.cs
  src/Protocol/Document/IDocumentRangeFormattingHandler.cs
  src/Protocol/Document/IPrepareRenameHandler.cs
  src/Protocol/Document/IRenameHandler.cs
  src/Protocol/Document/IWillSaveWaitUntilTextDocumentHandler.cs
  src/Protocol/Window/IShowMessageRequestHandler.cs
  src/Protocol/Workspace/IDidChangeConfigurationHandler.cs
  src/Protocol/Workspace/IDidChangeWatchedFilesHandler.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed failing tests
  test/Lsp.Tests/RequestProcessIdentifierTests.cs
Due: dotnet nuke lint --no-logo --lint-files

notifications should not cancel (#328)
  src/JsonRpc/InputHandler.cs
  src/Protocol/Document/IDocumentFormattingHandler.cs
  src/Protocol/Document/IDocumentOnTypeFormattingHandler.cs
  src/Protocol/Document/IDocumentRangeFormattingHandler.cs
  src/Protocol/Document/IPrepareRenameHandler.cs
  src/Protocol/Document/IRenameHandler.cs
  src/Protocol/Document/IWillSaveWaitUntilTextDocumentHandler.cs
  src/Protocol/Models/WorkspaceFolder.cs
  src/Protocol/Window/IShowMessageRequestHandler.cs
  src/Protocol/Workspace/IDidChangeConfigurationHandler.cs
  src/Protocol/Workspace/IDidChangeWatchedFilesHandler.cs
  test/Lsp.Tests/RequestProcessIdentifierTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Started work on some starter documentation
  README.md
  docs/dap.md
  docs/jsonrpc.md
  docs/lsp.md
Due: none

Updated build chart
  README.md
Due: none

Updated DI note
  docs/jsonrpc.md
Due: none

moved generated references
  README.md
Due: none

Added extension method to get all the unique handlers contained in the IHandlersManager
  src/JsonRpc/HandlersManagerExtensions.cs
  test/Lsp.Tests/Integration/HandlersManagerIntegrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

renamed link parameter names to better reflect their meaning. Also added exceptions to help users diagnose issues
  src/Client/LanguageClientOptions.cs
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/Dap.Shared/DebugAdapterHandlerCollection.cs
  src/JsonRpc/CompositeHandlersManager.cs
  src/JsonRpc/HandlerCollection.cs
  src/JsonRpc/IHandlersManager.cs
  src/JsonRpc/IJsonRpcHandlerRegistry.cs
  src/JsonRpc/InterimJsonRpcServerRegistry.cs
  src/JsonRpc/JsonRpcCommonMethodsBase.cs
  src/JsonRpc/JsonRpcOptionsRegistryBase.cs
  src/JsonRpc/JsonRpcServerOptionsBase.cs
  src/Server/LanguageServerOptions.cs
  src/Shared/SharedHandlerCollection.cs
  test/JsonRpc.Tests/TestLanguageServerRegistry.cs
Due: dotnet nuke lint --no-logo --lint-files

Added unit tests
  test/Lsp.Tests/Integration/HandlersManagerIntegrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added dap tests
  test/Dap.Tests/Integration/HandlersManagerIntegrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Porting over the minor breaking changes from the nullablity branch to be included in 0.18
  src/Client/LanguageClient.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/Dap.Shared/HandlerDescriptor.cs
  src/JsonRpc/EmptyRequest.cs
  src/JsonRpc/HandlerInstance.cs
  src/JsonRpc/HandlerTypeDescriptor.cs
  src/JsonRpc/HandlerTypeDescriptorProvider.cs
  src/JsonRpc/IJsonRpcNotificationHandler.cs
  src/JsonRpc/IResponseRouter.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerBase.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/Nullable/Attributes.cs
  src/JsonRpc/RequestRouterBase.cs
  src/JsonRpc/ResponseRouter.cs
  src/Protocol/LanguageProtocolProxy.cs
  src/Protocol/Models/DocumentColorParams.cs
  src/Protocol/Models/FoldingRangeParam.cs
  src/Protocol/Models/IPartialItems.cs
  src/Protocol/Models/Proposals/CallHierarchyIncomingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyOutgoingCallsParams.cs
  src/Protocol/Models/SelectionRangeParams.cs
  src/Protocol/Models/WorkspaceSymbolParams.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Shared/LspHandlerDescriptor.cs
  test/Dap.Tests/FoundationTests.cs
  test/JsonRpc.Tests/HandlerResolverTests.cs
  test/JsonRpc.Tests/MediatorTestsNotificationHandler.cs
  test/JsonRpc.Tests/ResponseRouterTests.cs
  test/Lsp.Tests/FoundationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

IHandlersManager and Handler linking improvments (#334)
  src/Client/LanguageClientOptions.cs
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/Dap.Shared/DebugAdapterHandlerCollection.cs
  src/JsonRpc/CompositeHandlersManager.cs
  src/JsonRpc/HandlerCollection.cs
  src/JsonRpc/HandlersManagerExtensions.cs
  src/JsonRpc/IHandlersManager.cs
  src/JsonRpc/IJsonRpcHandlerRegistry.cs
  src/JsonRpc/InterimJsonRpcServerRegistry.cs
  src/JsonRpc/JsonRpcCommonMethodsBase.cs
  src/JsonRpc/JsonRpcOptionsRegistryBase.cs
  src/JsonRpc/JsonRpcServerOptionsBase.cs
  src/Server/LanguageServerOptions.cs
  src/Shared/SharedHandlerCollection.cs
  test/Dap.Tests/Integration/HandlersManagerIntegrationTests.cs
  test/JsonRpc.Tests/TestLanguageServerRegistry.cs
  test/Lsp.Tests/Integration/HandlersManagerIntegrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Porting over the minor breaking changes from the nullablity branch to be included in 0.18 (#335)
  src/Client/LanguageClient.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/Dap.Shared/HandlerDescriptor.cs
  src/JsonRpc/EmptyRequest.cs
  src/JsonRpc/HandlerInstance.cs
  src/JsonRpc/HandlerTypeDescriptor.cs
  src/JsonRpc/HandlerTypeDescriptorProvider.cs
  src/JsonRpc/IJsonRpcNotificationHandler.cs
  src/JsonRpc/IResponseRouter.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerBase.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/Nullable/Attributes.cs
  src/JsonRpc/RequestRouterBase.cs
  src/JsonRpc/ResponseRouter.cs
  src/Protocol/LanguageProtocolProxy.cs
  src/Protocol/Models/DocumentColorParams.cs
  src/Protocol/Models/FoldingRangeParam.cs
  src/Protocol/Models/IPartialItems.cs
  src/Protocol/Models/Proposals/CallHierarchyIncomingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyOutgoingCallsParams.cs
  src/Protocol/Models/SelectionRangeParams.cs
  src/Protocol/Models/WorkspaceSymbolParams.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Shared/LspHandlerDescriptor.cs
  test/Dap.Tests/FoundationTests.cs
  test/JsonRpc.Tests/HandlerResolverTests.cs
  test/JsonRpc.Tests/MediatorTestsNotificationHandler.cs
  test/JsonRpc.Tests/ResponseRouterTests.cs
  test/Lsp.Tests/FoundationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

misc items
  .editorconfig
  sample/SampleServer/DidChangeWatchedFilesHandler.cs
  sample/SampleServer/FoldingRangeHandler.cs
  src/Directory.Build.props
Due: dotnet nuke lint --no-logo --lint-files

DAP Client / Server
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Client/DebugAdapterClientProgressManager.cs
  src/Dap.Client/DebugAdapterClientResolver.cs
  src/Dap.Client/DebugAdapterClientServiceCollectionExtensions.cs
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Protocol/DebugAdapterConverters/DapClientResponseConverter.cs
  src/Dap.Protocol/DebugAdapterConverters/DapRpcErrorConverter.cs
  src/Dap.Protocol/DebugAdapterRpcOptionsBase.cs
  src/Dap.Protocol/DebugAdapterSettingsBag.cs
  src/Dap.Protocol/Server/IDebugAdapterServerProgressManager.cs
  src/Dap.Server/DebugAdapterServer.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/Dap.Server/DebugAdapterServerProgressManager.cs
  src/Dap.Server/DebugAdapterServerResolver.cs
  src/Dap.Server/DebugAdapterServerServiceCollectionExtensions.cs
  src/Dap.Server/ProgressObserver.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/Dap.Shared/DebugAdapterHandlerCollection.cs
  src/Dap.Shared/DebugAdapterProtocolServiceCollectionExtensions.cs
  src/Dap.Shared/HandlerDescriptor.cs
  src/Dap.Testing/DebugAdapterProtocolTestBase.cs
  src/Dap.Testing/DebugAdapterServerTestBase.cs
  test/Dap.Tests/FoundationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed build failures
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Client/DebugAdapterClientServiceCollectionExtensions.cs
  src/Protocol/Server/WorkDone/WorkDoneObserver.cs
Due: dotnet nuke lint --no-logo --lint-files

Use StringBuilder where possible with DocumentUri
  src/Protocol/DocumentUri.Internal.cs
Due: dotnet nuke lint --no-logo --lint-files

try to avoid tests getting stuck on windows
  test/Dap.Tests/Integration/RecursiveResolutionTests.cs
  test/JsonRpc.Tests/RecursiveResolutionTests.cs
  test/Lsp.Tests/Integration/RecursiveResolutionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

skip nested tests to see if they are the problem in CI
  test/Lsp.Tests/Integration/RecursiveResolutionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable lsp and dap recursive tests
  test/Dap.Tests/Integration/RecursiveResolutionTests.cs
  test/Lsp.Tests/Integration/RecursiveResolutionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable all tests
  test/JsonRpc.Tests/RecursiveResolutionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
