Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated global json to rollforward
  global.json
Due: prettier --write

Better behavior with progress observables
  src/JsonRpc.Generators/Contexts/GeneratorData.cs
  src/JsonRpc.Generators/Contexts/RequestItem.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/GeneratorDiagnostics.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/Protocol/AbstractHandlers.PartialWithInitialValue.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.Partial.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.PartialWithInitialValue.cs
  src/Protocol/Models/IPartialItem.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/PartialItemRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/ProgressManager.cs
Due: dotnet nuke lint --no-logo --lint-files

Update dependency lint-staged to v12.5.0
  package-lock.json
  package.json
Due: prettier --write

Update dotnet monorepo [minor/patch]
  Directory.Packages.props
  Directory.Packages.supports.props
  sample/SampleServer/SampleServer.csproj
Due: none

Update dotnet monorepo [minor/patch]
  Directory.Packages.supports.props
  sample/SampleServer/SampleServer.csproj
Due: none

Worked on updating generation to fix a few problems
  .gitignore
  src/Protocol/Models/StringOrMarkupContent.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Lsp.Integration.Tests/TypedCodeActionTests.cs.disable
  test/Lsp.Integration.Tests/TypedCodeLensTests.cs.disable
  test/Lsp.Integration.Tests/TypedDocumentLinkTests.cs.disable
  test/Lsp.Integration.Tests/TypedInlayHintTests.cs.disable
Due: dotnet nuke lint --no-logo --lint-files

Fixed failing tests, disabled new generators for the moment, they can be re-done in the future
  sample/SampleServer/SampleServer.csproj
  sample/SampleServer/TextDocumentHandler.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/GeneratorDiagnostics.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  src/Protocol/Serialization/Converters/NumberEnumConverter.cs
  test/Lsp.Integration.Tests/TypedInlayHintTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Remove duplicate `JetBrains.ReSharper.CommandLineTools` package reference
  .build/.build.csproj
Due: none

Bump SampleServer's `Microsoft.Extensions.Logging` package
  sample/SampleServer/SampleServer.csproj
Due: none

Fix bug caused by `System.Threading.Tasks` v4.7.1
  Directory.Packages.props
Due: none

Fix bug caused by `System.Threading.Tasks` v4.7.1 (#892)
  .build/.build.csproj
  Directory.Packages.props
  sample/SampleServer/SampleServer.csproj
Due: none

disable macos builds for now
  .azure-pipelines.yml
Due: prettier --write

disable macos builds for now (#894)
  .azure-pipelines.yml
Due: prettier --write

disable macos builds for now
  .github/workflows/ci.yml
Due: prettier --write

Update `nuke.globaltool` to fix macOS CI
  .config/dotnet-tools.json
Due: prettier --write

Revert "disable macos builds for now"
  .azure-pipelines.yml
  .github/workflows/ci.yml
Due: prettier --write

Only target `net6.0` for tests
  sample/SampleServer/SampleServer.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Generation.Tests/Generation.Tests.csproj
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Integration.Tests/Lsp.Integration.Tests.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
Due: none

Fix type forwarding for `init` and `record` workaround
  src/JsonRpc.Generators/Records.cs
  src/JsonRpc/Nullable/Records.cs
  test/Dap.Tests/Records.cs
  test/Generation.Tests/Records.cs
  test/Lsp.Integration.Tests/Records.cs
  test/Lsp.Tests/Records.cs
Due: dotnet nuke lint --no-logo --lint-files

Set max depth for JSON serializer to mitigate known DOS vulnerability
  src/JsonRpc/Serialization/SerializerBase.cs
Due: dotnet nuke lint --no-logo --lint-files

Set max depth for JSON serializer to mitigate known DOS vulnerability (#902)
  src/JsonRpc/Serialization/SerializerBase.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix type forwarding for `init`/`record` workaround (#895)
  .azure-pipelines.yml
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  sample/SampleServer/SampleServer.csproj
  src/JsonRpc.Generators/Records.cs
  src/JsonRpc/Nullable/Records.cs
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Dap.Tests/Records.cs
  test/Generation.Tests/Generation.Tests.csproj
  test/Generation.Tests/Records.cs
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Integration.Tests/Lsp.Integration.Tests.csproj
  test/Lsp.Integration.Tests/Records.cs
  test/Lsp.Tests/Lsp.Tests.csproj
  test/Lsp.Tests/Records.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Don't log critical message when client disconnect
  src/JsonRpc/InputHandler.cs
Due: dotnet nuke lint --no-logo --lint-files

Update xunit to v2.5.0
  Directory.Packages.props
  test/JsonRpc.Tests/ProcessSchedulerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Update dependency dotnet-sdk to v7
  .build/Solution.cs
  .github/workflows/ci.yml
  global.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Apply remaining 3.17 updates.
  .build/.build.csproj
  language-server-protocol.sha.txt
  src/Protocol/Client/Capabilities/IWindowClientCapabilities.cs
  src/Protocol/Client/Capabilities/WindowClientCapabilities.cs
  src/Protocol/Features/Document/ColorFeature.cs
  src/Protocol/Features/Document/CompletionFeature.cs
  src/Protocol/Features/Document/DiagnosticsFeature.cs
  src/Protocol/Features/Document/DocumentLinkFeature.cs
  src/Protocol/Features/Document/DocumentOnTypeFormattingFeature.cs
  src/Protocol/Features/Document/InlayHintFeature.cs
  src/Protocol/Features/Document/LinkedEditingRangeFeature.cs
  src/Protocol/Features/Document/NotebookDocumentSyncFeature.cs
  src/Protocol/Features/Document/RenameFeature.cs
  src/Protocol/Features/Document/TextDocumentSyncFeature.cs
  src/Protocol/Features/Document/TypeHierarchyFeature.cs
  src/Protocol/Features/Window/ShowDocumentRequestFeature.cs
  src/Protocol/Features/Window/WorkDoneProgressFeature.cs
  src/Protocol/Features/Workspace/DidChangeWatchedFilesFeature.cs
  src/Protocol/Features/Workspace/WorkspaceSymbolsFeature.cs
  src/Protocol/Models/CreateFile.cs
  src/Protocol/Models/DeleteFile.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/FailureHandlingKind.cs
  src/Protocol/Models/FileSystemWatcher.cs
  src/Protocol/Models/GlobPattern.cs
  src/Protocol/Models/IPartialResultParams.cs
  src/Protocol/Models/Location.cs
  src/Protocol/Models/LocationLink.cs
  src/Protocol/Models/OptionalVersionedTextDocumentIdentifier.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/PositionEncodingKind.cs
  src/Protocol/Models/RelativePattern.cs
  src/Protocol/Models/RenameFile.cs
  src/Protocol/Models/TextDocumentItem.cs
  src/Protocol/Models/TextEdit.cs
  src/Protocol/Models/VersionedTextDocumentIdentifier.cs
  src/Protocol/Models/WorkspaceEdit.cs
  src/Protocol/Models/WorkspaceFolderOrUri.cs
  src/Protocol/Serialization/Converters/GlobPatternConverter.cs
  src/Protocol/Serialization/Converters/WorkspaceFolderOrUriConverter.cs
Due: dotnet nuke lint --no-logo --lint-files

Update test snapshots
  test/Dap.Tests/FoundationTests.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.00AssemblyCapabilityKeys.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.01Test0_SymbolInformationParams.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.02Test0_WorkspaceSymbolParams.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.04SymbolInformationParams.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.05WorkspaceSymbol.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.06WorkspaceSymbolParams.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.08WorkspaceSymbolRegistrationOptions.verified.cs
  test/Lsp.Tests/FoundationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Move to codecov-action v4 beta2
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Install the pinned dotnet SDK
  .github/workflows/draft-release.yml
Due: prettier --write

Fix release draft action permissions
  .github/workflows/draft-release.yml
Due: prettier --write

Pass serializer when calling ToObject
  src/Protocol/Features/Document/CompletionFeature.cs
  src/Protocol/Features/Document/InlayHintFeature.cs
  src/Protocol/Features/Document/InlineValueFeature.cs
  src/Protocol/Models/RangeOrEditRange.cs
  src/Protocol/Serialization/Converters/CommandOrCodeActionConverter.cs
  src/Protocol/Serialization/Converters/GlobPatternConverter.cs
  src/Protocol/Serialization/Converters/LocationOrFileLocationConverter.cs
  src/Protocol/Serialization/Converters/LocationOrLocationLinkConverter.cs
  src/Protocol/Serialization/Converters/RangeOrPlaceholderRangeConverter.cs
  src/Protocol/Serialization/Converters/SemanticTokensFullOrDeltaConverter.cs
  src/Protocol/Serialization/Converters/SemanticTokensFullOrDeltaPartialResultConverter.cs
  src/Protocol/Serialization/Converters/SymbolInformationOrDocumentSymbolConverter.cs
  src/Protocol/Serialization/Converters/TextEditConverter.cs
  src/Protocol/Serialization/Converters/TextEditOrInsertReplaceEditConverter.cs
  src/Protocol/Serialization/Converters/ValueTupleContractResolver.cs
  src/Protocol/Serialization/Converters/WorkspaceEditDocumentChangeConverter.cs
  src/Protocol/Serialization/Converters/WorkspaceFolderOrUriConverter.cs
  src/Server/LanguageServer.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Lsp.Integration.Tests/ExtensionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix up registration options and capabilities
  src/Protocol/Client/Capabilities/ITextDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/TextDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceEditCapability.cs
  src/Protocol/Features/Document/DiagnosticsFeature.cs
  src/Protocol/Features/Document/InlayHintFeature.cs
  src/Protocol/Features/Document/InlineValueFeature.cs
  src/Protocol/Features/Document/SemanticTokensFeature.cs
  src/Protocol/Features/Workspace/DidChangeConfigurationFeature.cs
  src/Protocol/Features/Workspace/DidChangeWatchedFilesFeature.cs
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  src/Protocol/Features/Workspace/WorkspaceSymbolsFeature.cs
  src/Protocol/WorkspaceNames.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Params_Type_As_Source.00AssemblyCapabilityKeys.verified.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix up milestone actions
  .github/workflows/close-milestone.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Update to latest release of GitReleaseManager
  .github/workflows/close-milestone.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Pass error message to NotSameException ctor
  test/JsonRpc.Tests/ProcessSchedulerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Update xunit to 2.5.1
  Directory.Packages.props
Due: none

Update System.Collections.Immutable to v7.0.0
  Directory.Packages.props
Due: none

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
