Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": [
        "dotnet nuke lint --no-logo --lint-files"
    ],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": [
        "prettier --write"
    ]
}

Use actions/upload-artifact@v4
  .github/workflows/ci.yml
Due: prettier --write

Use actions/download-artifacts@v4
  .github/workflows/publish-nuget.yml
Due: prettier --write

Fix ci publish
  .github/workflows/ci.yml
Due: prettier --write

Update GitVersion configuration
  GitVersion.yml
Due: prettier --write

Update GitVersion Configuration
  GitVersion.yml
Due: prettier --write

Remove GitVersion.Tool from dotnet-tools config
  .config/dotnet-tools.json
Due: prettier --write

Include dotnet-tools in NuGet cache hash
  .github/workflows/ci.yml
Due: prettier --write

Update NuGet Cache hash
  .github/workflows/ci.yml
Due: prettier --write

Update NuGet Cache
  .github/workflows/ci.yml
Due: prettier --write

Fix NuGet Cache
  .github/workflows/ci.yml
Due: prettier --write

Fix NuGet caching
  .github/workflows/ci.yml
Due: prettier --write

Fix FluentAssertions after update
  test/Dap.Tests/FoundationTests.cs
  test/Lsp.Integration.Tests/FluentAssertionsExtensions.cs
  test/Lsp.Tests/FluentAssertionsExtensions.cs
  test/Lsp.Tests/FoundationTests.cs
  test/Lsp.Tests/Models/PositionTests.cs
  test/TestingUtils/RecordExtensions.cs
  test/TestingUtils/RecordStructuralEqualityEquivalencyStep.cs
Due: dotnet nuke lint --no-logo --lint-files

Update dotnet dependencies to version 9.0
  Directory.Packages.props
Due: none

Fix verify update
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Should_Report_Diagnostic_If_Missing_Information.verified.txt
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Supports_Generating_Notifications_And_Infers_Direction_DidChangeTextHandler.verified.txt
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Supports_Generating_Notifications_And_Infers_Direction_ExitHandler.verified.txt
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Supports_Generating_Requests_And_Infers_Direction.verified.txt
Due: none

Update GH Action tool versions
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Fix up #1336
  .build/.build.csproj
  .build/Build.CI.cs
  .build/Build.cs
  .build/Configuration.cs
  .config/dotnet-tools.json
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-milestone.yml
  .gitignore
  .nuke/build.schema.json
  .nuke/parameters.json
  test/coverlet.runsettings
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Publish test results from MacOS run
  .github/workflows/ci.yml
Due: prettier --write

Update test/coverlet.runsettings
  test/coverlet.runsettings
Due: none

Publish CI assets using absolute paths.
  .github/workflows/ci.yml
  Directory.Build.props
Due: prettier --write

Try only generating Cobertura code coverage.
  test/coverlet.runsettings
Due: none

Update dotnet tools
  .config/dotnet-tools.json
Due: prettier --write

Remove codecov.tool
  .config/dotnet-tools.json
Due: prettier --write

Remove nukeeper dotnet tool
  .config/dotnet-tools.json
Due: prettier --write

Create dotnet.yml
  .github/workflows/dotnet.yml
Due: prettier --write

Update update-milestone.yml
  .github/workflows/update-milestone.yml
Due: prettier --write
