Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": [
        "dotnet nuke lint --no-logo --lint-files"
    ],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": [
        "prettier --write"
    ]
}

Remove old framework version references and Assign correct tags
  benchmarks/Pipeline/Pipeline.csproj
  src/Client/Client.csproj
  src/Dap.Client/Dap.Client.csproj
  src/Dap.Protocol.Proposals/Dap.Protocol.Proposals.csproj
  src/Dap.Protocol/Dap.Protocol.csproj
  src/JsonRpc.Testing/JsonRpc.Testing.csproj
  src/Protocol.Proposals/Protocol.Proposals.csproj
  src/Protocol/Protocol.csproj
  src/Server/LspServerReceiver.cs
  src/Server/Server.csproj
  src/Shared/Shared.csproj
  src/Testing/Testing.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Generation.Tests/Generation.Tests.csproj
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Integration.Tests/Lsp.Integration.Tests.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
  test/TestingUtils/TestingUtils.csproj
Due: dotnet nuke lint --no-logo --lint-files

Remove unnecessary Windows Runetime identifier: supporting Linux and MacOS
  sample/SampleServer/SampleServer.csproj
Due: none

Remove unused references in header.
  src/Protocol/Features/Client/RegistrationFeature.cs
  src/Protocol/Features/Document/DocumentLinkFeature.cs
  src/Protocol/Features/Document/FoldingRangeFeature.cs
  src/Protocol/Features/Document/InlineValueFeature.cs
  src/Protocol/Features/Document/NotebookDocumentSyncFeature.cs
  src/Protocol/Features/Document/SemanticTokensBuilder.cs
  src/Protocol/Features/Document/SemanticTokensDocument.cs
  src/Protocol/Features/Document/SemanticTokensFeature.cs
  src/Protocol/Features/Document/TextDocumentSyncFeature.cs
  src/Protocol/Features/Document/TypeHierarchyFeature.cs
  src/Protocol/Features/FileOperationsFeature.cs
  src/Protocol/Features/General/ShutdownFeature.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/Features/Window/ShowMessageRequestFeature.cs
  src/Protocol/Features/Window/TelemetryEventFeature.cs
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  test/Lsp.Integration.Tests/Fixtures/LanguageProtocolFixture.cs
  test/Lsp.Integration.Tests/Fixtures/LanguageProtocolFixtureTest.cs
Due: dotnet nuke lint --no-logo --lint-files

Addressing GitVersion installation issue [link]
  .github/workflows/close-milestone.yml
Due: prettier --write

Addressing GitVersion installation issue [link]
  .github/workflows/update-milestone.yml
Due: prettier --write

Update GitVersion
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Install .NET 10 in CI
  .azure-pipelines.yml
  .build/Solution.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Fix first round of issues
  architecture.md
  src/Client/LanguageClient.cs
  src/Dap.Protocol/IDebugAdapterProtocolProxy.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/JsonRpc/DefaultJsonRpcServerFacade.cs
  src/JsonRpc/IResponseRouter.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerBase.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/ResponseRouter.cs
  src/JsonRpc/Server/RequestFailedException.cs
  src/JsonRpc/Server/ServerCancelledException.cs
  src/JsonRpc/Server/UnknownErrorException.cs
  src/Protocol/Features/Document/DiagnosticsFeature.cs
  src/Protocol/Features/Document/InlayHintFeature.cs
  src/Protocol/LanguageProtocolProxy.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/Lsp.Tests/Capabilities/Client/WorkspaceRefreshCapabilityTests.cs
  test/Lsp.Tests/Models/DiagnosticReportTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Round 2 of fixups
  src/JsonRpc/InputHandler.cs
  src/Protocol/Features/Document/NotebookDocumentSyncFeature.cs
  src/Protocol/Features/Document/TypeHierarchyFeature.cs
  src/Protocol/Models/LSPAny.cs
  src/Protocol/Server/Capabilities/IServerCapabilities.cs
  src/Server/Matchers/NotebookDocumentMatcher.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/Lsp.Tests/Capabilities/Server/ServerCapabilitiesTests.cs
  test/Lsp.Tests/Models/LSPAnyTests.cs
  test/Lsp.Tests/Models/NotebookDocumentChangeEventTests.cs
  test/Lsp.Tests/Models/TypeHierarchyTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Implement 3.18 features
  src/Protocol/Client/Capabilities/ITextDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/TextDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceEditCapability.cs
  src/Protocol/Features/Document/CodeActionFeature.cs
  src/Protocol/Features/Document/CodeLensFeature.cs
  src/Protocol/Features/Document/CompletionFeature.cs
  src/Protocol/Features/Document/DiagnosticsFeature.cs
  src/Protocol/Features/Document/DocumentRangeFormattingFeature.cs
  src/Protocol/Features/Document/FoldingRangeFeature.cs
  src/Protocol/Features/Document/InlineCompletionFeature.cs
  src/Protocol/Features/Document/NotebookDocumentSyncFeature.cs
  src/Protocol/Features/Document/SignatureHelpFeature.cs
  src/Protocol/Features/Document/TextDocumentSyncFeature.cs
  src/Protocol/Features/Workspace/ApplyEditFeature.cs
  src/Protocol/Features/Workspace/TextDocumentContentFeature.cs
  src/Protocol/Models/Command.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/MessageType.cs
  src/Protocol/Models/TextEdit.cs
  src/Protocol/Models/WorkspaceEdit.cs
  src/Protocol/Serialization/Converters/TextEditConverter.cs
  src/Protocol/Server/Capabilities/IServerCapabilities.cs
  src/Protocol/Server/Capabilities/IWorkspaceServerCapabilities.cs
  src/Protocol/Server/Capabilities/ServerCapabilities.cs
  src/Protocol/Server/Capabilities/WorkspaceServerCapabilities.cs
  src/Protocol/TextDocumentNames.cs
  src/Protocol/WorkspaceNames.cs
  test/Lsp.Tests/Models/DiagnosticReportTests.cs
  test/Lsp.Tests/Models/Lsp318FeatureTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Use parameters for TargetFrameworks
  Directory.Packages.props
  src/Client/Client.csproj
  src/Dap.Client/Dap.Client.csproj
  src/Dap.Protocol.Proposals/Dap.Protocol.Proposals.csproj
  src/Dap.Protocol/Dap.Protocol.csproj
  src/Dap.Server/Dap.Server.csproj
  src/Dap.Shared/Dap.Shared.csproj
  src/Dap.Testing/Dap.Testing.csproj
  src/JsonRpc.Testing/JsonRpc.Testing.csproj
  src/JsonRpc/JsonRpc.csproj
  src/Protocol.Proposals/Protocol.Proposals.csproj
  src/Protocol/Protocol.csproj
  src/Server/Server.csproj
  src/Shared/Shared.csproj
  src/Testing/Testing.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Generation.Tests/Generation.Tests.csproj
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Integration.Tests/Lsp.Integration.Tests.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
  test/TestingUtils/TestingUtils.csproj
  test/coverage/Client-Tests/coverage.net10.0.info
  test/coverage/Client-Tests/coverage.net10.0.json
  test/coverage/Dap-Tests/coverage.net10.0.info
  test/coverage/Dap-Tests/coverage.net10.0.json
  test/coverage/Generation-Tests/coverage.net10.0.info
  test/coverage/Generation-Tests/coverage.net10.0.json
  test/coverage/JsonRpc-Tests/coverage.net10.0.info
  test/coverage/JsonRpc-Tests/coverage.net10.0.json
  test/coverage/Lsp-Integration-Tests/coverage.net10.0.info
  test/coverage/Lsp-Integration-Tests/coverage.net10.0.json
  test/coverage/Lsp-Tests/coverage.net10.0.info
  test/coverage/Lsp-Tests/coverage.net10.0.json
  test/coverage/TestingUtils/coverage.net10.0.info
  test/coverage/TestingUtils/coverage.net10.0.json
Due: prettier --write

Update to Mediatr 14
  Directory.Packages.props
  src/JsonRpc.Testing/SettlePipeline.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  src/Server/Pipelines/SemanticTokensDeltaPipeline.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
Due: dotnet nuke lint --no-logo --lint-files

update Analyzers package
  Directory.Packages.props
Due: none

Update module resolution
  vscode-testextension/tsconfig.json
Due: prettier --write

update tsconfig
  vscode-testextension/tsconfig.json
Due: prettier --write

Fix test
  test/Generation.Tests/LspFeatureTests.cs
Due: dotnet nuke lint --no-logo --lint-files

revert
  vscode-testextension/tsconfig.json
Due: prettier --write

Fix verified
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Nullable_Params_With_Typed_Data#Test0_SubLensTyped.verified.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix up
  .build/Build.cs
  .build/Solution.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix up ci
  .github/workflows/ci.yml
  .nuke/build.schema.json
  test/coverlet.runsettings
Due: prettier --write

Fix up ci 2
  .config/dotnet-tools.json
Due: prettier --write

fix: vscode-testextension/package.json & vscode-testextension/package-lock.json to reduce vulnerabilities
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
Due: prettier --write

refactor(jsonrpc): replace mediator runtime dispatch
  src/JsonRpc/Dispatching.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/RequestDispatcher.cs
  src/JsonRpc/RequestRouterBase.cs
  test/JsonRpc.Tests/JsonRpcTestContainer.cs
Due: dotnet nuke lint --no-logo --lint-files

docs: prepare 1.0.0 breaking release
  GitVersion.yml
  README.md
  architecture.md
  docs/lsp.md
  docs/migration-v1.md
  docs/source-generation.md
  src/Client/LanguageClientRegistrationManager.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

refactor(jsonrpc): add serializer-neutral conversion API
  src/JsonRpc/DelegatingNotificationHandler.cs
  src/JsonRpc/DelegatingRequestHandler.cs
  src/JsonRpc/ISerializer.cs
  src/JsonRpc/RequestRouterBase.cs
  src/JsonRpc/ResponseRouter.cs
  src/JsonRpc/Serialization/SerializerBase.cs
  test/JsonRpc.Tests/SerializerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

refactor: route JSON conversion through serializer abstraction
  src/Client/LanguageClient.cs
  src/Client/LanguageClientRegistrationManager.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/Protocol/Client/WorkDone/LanguageClientWorkDoneManager.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  src/Protocol/Progress/PartialItemRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Progress/ProgressObserver.cs
  src/Protocol/Server/WorkDone/WorkDoneObserver.cs
  src/Server/LanguageServer.cs
  src/Shared/LspRequestRouter.cs
Due: dotnet nuke lint --no-logo --lint-files

feat!: remove Newtonsoft types from serializer contract
  src/JsonRpc/ISerializer.cs
  test/Lsp.Integration.Tests/ExtensionTests.cs
  test/Lsp.Integration.Tests/ProgressTests.cs
  test/Lsp.Tests/Fixture.cs
Due: dotnet nuke lint --no-logo --lint-files

feat(jsonrpc): add System.Text.Json serializer
  Directory.Packages.props
  src/JsonRpc/JsonRpc.csproj
  src/JsonRpc/Serialization/SystemTextJsonSerializer.cs
  test/JsonRpc.Tests/SerializerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

feat!: migrate inbound JSON DOM to System.Text.Json
  src/Client/LanguageClient.cs
  src/Client/LspClientReceiver.cs
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Protocol/IDebugAdapterProtocolProxy.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/JsonRpc/DefaultJsonRpcServerFacade.cs
  src/JsonRpc/IReceiver.cs
  src/JsonRpc/IResponseRouter.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerBase.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/Receiver.cs
  src/JsonRpc/ResponseRouter.cs
  src/JsonRpc/Serialization/SerializerBase.cs
  src/JsonRpc/Server/IMethodWithParams.cs
  src/JsonRpc/Server/Notification.cs
  src/JsonRpc/Server/Request.cs
  src/JsonRpc/Server/ServerErrorResult.cs
  src/JsonRpc/Server/ServerResponse.cs
  src/Protocol/LanguageProtocolProxy.cs
  src/Server/LspServerReceiver.cs
  src/Shared/LspRequestRouter.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/Dap.Tests/JsonTestHelper.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/JsonRpc.Tests/JsonTestHelper.cs
  test/JsonRpc.Tests/MediatorTestsNotificationHandlerOfT.cs
  test/JsonRpc.Tests/MediatorTestsRequestHandlerOfTRequest.cs
  test/JsonRpc.Tests/MediatorTestsRequestHandlerOfTRequestTResponse.cs
  test/JsonRpc.Tests/RequestRouterTests.cs
  test/JsonRpc.Tests/ResponseRouterTests.cs
  test/JsonRpc.Tests/Server/SpecificationReceiverTests.cs
  test/JsonRpc.Tests/Server/SpecificatiosIdTests.cs
  test/Lsp.Tests/JsonTestHelper.cs
  test/Lsp.Tests/LspRequestRouterTests.cs
  test/Lsp.Tests/MediatorTestsRequestHandlerOfTRequestTResponse.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate raw handlers to JsonElement
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/JsonRpc/DelegatingJsonNotificationHandler.cs
  src/JsonRpc/DelegatingJsonRequestHandler.cs
  src/JsonRpc/DelegatingNotification.cs
  src/JsonRpc/DelegatingRequest.cs
  src/JsonRpc/DelegatingRequestHandler.cs
  src/JsonRpc/IJsonRpcHandlerRegistry.cs
  src/JsonRpc/JsonRpcCommonMethodsBase.cs
  src/JsonRpc/Serialization/Converters/JsonElementConverter.cs
  src/JsonRpc/Serialization/SerializerBase.cs
  src/Protocol/Client/LanguageClientOptions.cs
  src/Protocol/Server/LanguageServerOptions.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/JsonRpc.Tests/DelegatingHandlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Use System.Text.Json by default
  src/JsonRpc/JsonRpcServerOptions.cs
  test/JsonRpc.Tests/SerializerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate DAP serializer to System.Text.Json
  src/Dap.Protocol/DapSerializer.cs
  src/Dap.Protocol/Feature/Requests/AttachFeature.cs
  src/Dap.Protocol/Feature/Requests/LaunchFeature.cs
  src/Dap.Protocol/Models/Module.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Generate System.Text.Json metadata
  src/Dap.Protocol/DapSerializer.cs
  src/JsonRpc.Generators/AutoImplementParamsGenerator.cs
  src/JsonRpc.Generators/EnumLikeStringGenerator.cs
  src/JsonRpc/Serialization/Converters/SystemTextJsonEnumLikeStringConverterFactory.cs
  test/Generation.Tests/AutoImplementParamsGeneratorTests.cs
  test/Generation.Tests/snapshots/AutoImplementParamsGeneratorTests.Auto_Magically_Implements_Properties#Test0_DeclarationParams.verified.cs
  test/Generation.Tests/snapshots/EnumLikeStringGeneratorTests.Auto_Magically_Implements_IEnumLikeString#Test0_ThreadEventReason.verified.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP resolvable data to JsonElement
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  src/JsonRpc/Serialization/Converters/JsonElementConverter.cs
  src/Protocol/Features/Document/CallHierarchyFeature.cs
  src/Protocol/Features/Document/CodeActionFeature.cs
  src/Protocol/Features/Document/CodeLensFeature.cs
  src/Protocol/Features/Document/CompletionFeature.cs
  src/Protocol/Features/Document/DocumentLinkFeature.cs
  src/Protocol/Features/Document/InlayHintFeature.cs
  src/Protocol/Features/Document/TypeHierarchyFeature.cs
  src/Protocol/Features/Workspace/WorkspaceSymbolsFeature.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/ICanBeResolved.cs
  src/Server/Matchers/ResolveCommandMatcher.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Inlay_Hint#Test0_OutlayHintTyped.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Nullable_Params_With_Typed_Data#Test0_SubLensTyped.verified.cs
  test/Generation.Tests/snapshots/TypedCanBeResolvedTests.Supports_Generating_Strongly_Typed_ICanBeResolved_Data#Test0_CodeLensTyped.verified.cs
  test/Lsp.Integration.Tests/TypedCompletionTests.cs
  test/Lsp.Integration.Tests/TypedInlayHintTests.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
  test/Lsp.Tests/Models/CodeLensTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP progress payloads to JsonElement
  src/Protocol/Client/WorkDone/LanguageClientWorkDoneManager.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/PartialItemRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Progress/ProgressObservable.cs
  src/Protocol/Progress/ProgressObserver.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP capability data to JsonElement
  src/Protocol/CapabilitiesBase.cs
  src/Protocol/Client/Capabilities/ClientCapabilities.cs
  src/Protocol/Client/Capabilities/IClientCapabilities.cs
  src/Protocol/Client/LanguageClientOptions.cs
  src/Protocol/ICapabilitiesBase.cs
  src/Protocol/Serialization/LspContractResolver.cs
  src/Protocol/Server/Capabilities/IServerCapabilities.cs
  src/Protocol/Server/Capabilities/ServerCapabilities.cs
  test/Lsp.Integration.Tests/ExtensionTests.cs
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests.cs
  test/Lsp.Tests/Capabilities/Server/ServerCapabilitiesTests.cs
  test/Lsp.Tests/Models/InitializeParamsTests.cs
  test/Lsp.Tests/Models/InitializeResultTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate message action data to JsonElement
  src/Protocol/Features/Window/ShowMessageRequestFeature.cs
  src/Protocol/Serialization/LspContractResolver.cs
  test/Lsp.Tests/Models/ShowMessageRequestParamsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Add System.Text.Json migration iteration plan
  iteration-plan.md
Due: none
