Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": [
        "dotnet nuke lint --no-logo --lint-files"
    ],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": [
        "prettier --write"
    ]
}

Migrate LSP configuration data to JsonElement
  iteration-plan.md
  src/Protocol/Features/Workspace/ConfigurationFeature.cs
  src/Protocol/Features/Workspace/DidChangeConfigurationFeature.cs
  src/Server/Configuration/ConfigurationConverter.cs
  src/Server/Configuration/DidChangeConfigurationProvider.cs
  src/Server/Configuration/ScopedConfiguration.cs
  src/Server/Configuration/WorkspaceConfigurationProvider.cs
  src/Server/Configuration/WorkspaceConfigurationSource.cs
  src/Testing/TestConfigurationProvider.cs
  test/Lsp.Integration.Tests/DisableDefaultsTests.cs
  test/Lsp.Integration.Tests/LanguageServerConfigurationTests.cs
  test/Lsp.Tests/Models/DidChangeConfigurationParamsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP command arguments to JsonElement
  iteration-plan.md
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  src/Protocol/Models/Command.cs
  src/Protocol/Models/IExecuteCommandParams.cs
  test/Lsp.Integration.Tests/ExecuteCommandTests.cs
  test/Lsp.Integration.Tests/ExecuteTypedCommandTests.cs
  test/Lsp.Integration.Tests/OverrideHandlerTests.cs
  test/Lsp.Integration.Tests/TypedCodeActionTests.cs
  test/Lsp.Integration.Tests/TypedCodeLensTests.cs
  test/Lsp.Integration.Tests/TypedCompletionTests.cs
  test/Lsp.Tests/Models/CodeLensTests.cs
  test/Lsp.Tests/Models/CommandTests.cs
  test/Lsp.Tests/Models/ExecuteCommandParamsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate notebook metadata to JsonElement
  iteration-plan.md
  src/Protocol/Features/Document/NotebookDocumentSyncFeature.cs
  test/Lsp.Tests/Models/NotebookDocumentChangeEventTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP capability composition to System.Text.Json
  iteration-plan.md
  src/Client/LanguageClient.cs
  src/Client/LanguageClientRegistrationManager.cs
  src/Protocol/Features/General/InitializeFeature.cs
  src/Server/LanguageServer.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP arbitrary JSON types to System.Text.Json
  iteration-plan.md
  src/Protocol/Models/LSPAny.cs
  test/Lsp.Tests/Models/LSPAnyTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Port LSP serialization to System.Text.Json
  iteration-plan.md
  src/JsonRpc/Serialization/SystemTextJsonSerializer.cs
  src/Protocol.Proposals/Serialization/ProposedCapabilitiesConverter.cs
  src/Protocol.Proposals/Serialization/ProposedLspSerializer.cs
  src/Protocol/Serialization/Converters/SystemTextJsonLspSupplementalConverters.cs
  src/Protocol/Serialization/Serializer.cs
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests.cs
  test/Lsp.Tests/CompletionItemKindTests.cs
  test/Lsp.Tests/LspRequestRouterTests.cs
  test/Lsp.Tests/MediatorTestsRequestHandlerOfTRequestTResponse.cs
  test/Lsp.Tests/Models/DidChangeConfigurationParamsTests.cs
  test/Lsp.Tests/Models/LSPAnyTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Revert "Update to Mediatr 14"
  Directory.Packages.props
  src/JsonRpc.Testing/SettlePipeline.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  src/Server/Pipelines/SemanticTokensDeltaPipeline.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Update GitReleaseManager to 0.19.x
  .github/workflows/close-milestone.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Update @vscode/test-electron to 3.1.0
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
Due: prettier --write

refactor(jsonrpc): replace mediator runtime dispatch
  src/JsonRpc/Dispatching.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/RequestDispatcher.cs
  src/JsonRpc/RequestRouterBase.cs
  test/JsonRpc.Tests/JsonRpcTestContainer.cs
Due: dotnet nuke lint --no-logo --lint-files

refactor(jsonrpc): add serializer-neutral conversion API
  src/JsonRpc/DelegatingNotificationHandler.cs
  src/JsonRpc/DelegatingRequestHandler.cs
  src/JsonRpc/ISerializer.cs
  src/JsonRpc/RequestRouterBase.cs
  src/JsonRpc/ResponseRouter.cs
  src/JsonRpc/Serialization/SerializerBase.cs
  test/JsonRpc.Tests/SerializerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

docs: prepare 1.0.0 breaking release
  GitVersion.yml
  README.md
  architecture.md
  docs/lsp.md
  docs/migration-v1.md
  docs/source-generation.md
  src/Client/LanguageClientRegistrationManager.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

feat!: remove Newtonsoft types from serializer contract
  src/JsonRpc/ISerializer.cs
  test/Lsp.Integration.Tests/ExtensionTests.cs
  test/Lsp.Integration.Tests/ProgressTests.cs
  test/Lsp.Tests/Fixture.cs
Due: dotnet nuke lint --no-logo --lint-files

feat(jsonrpc): add System.Text.Json serializer
  Directory.Packages.props
  src/JsonRpc/JsonRpc.csproj
  src/JsonRpc/Serialization/SystemTextJsonSerializer.cs
  test/JsonRpc.Tests/SerializerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

refactor: route JSON conversion through serializer abstraction
  src/Client/LanguageClient.cs
  src/Client/LanguageClientRegistrationManager.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/Protocol/Client/WorkDone/LanguageClientWorkDoneManager.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  src/Protocol/Progress/PartialItemRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Progress/ProgressObserver.cs
  src/Protocol/Server/WorkDone/WorkDoneObserver.cs
  src/Server/LanguageServer.cs
  src/Shared/LspRequestRouter.cs
Due: dotnet nuke lint --no-logo --lint-files

Generate System.Text.Json metadata
  src/Dap.Protocol/DapSerializer.cs
  src/JsonRpc.Generators/AutoImplementParamsGenerator.cs
  src/JsonRpc.Generators/EnumLikeStringGenerator.cs
  src/JsonRpc/Serialization/Converters/SystemTextJsonEnumLikeStringConverterFactory.cs
  test/Generation.Tests/AutoImplementParamsGeneratorTests.cs
  test/Generation.Tests/snapshots/AutoImplementParamsGeneratorTests.Auto_Magically_Implements_Properties#Test0_DeclarationParams.verified.cs
  test/Generation.Tests/snapshots/EnumLikeStringGeneratorTests.Auto_Magically_Implements_IEnumLikeString#Test0_ThreadEventReason.verified.cs
Due: dotnet nuke lint --no-logo --lint-files

Remove iteration plan
  iteration-plan.md
Due: none

Migrate raw handlers to JsonElement
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/JsonRpc/DelegatingJsonNotificationHandler.cs
  src/JsonRpc/DelegatingJsonRequestHandler.cs
  src/JsonRpc/DelegatingNotification.cs
  src/JsonRpc/DelegatingRequest.cs
  src/JsonRpc/DelegatingRequestHandler.cs
  src/JsonRpc/IJsonRpcHandlerRegistry.cs
  src/JsonRpc/JsonRpcCommonMethodsBase.cs
  src/JsonRpc/Serialization/Converters/JsonElementConverter.cs
  src/JsonRpc/Serialization/SerializerBase.cs
  src/Protocol/Client/LanguageClientOptions.cs
  src/Protocol/Server/LanguageServerOptions.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/JsonRpc.Tests/DelegatingHandlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

LSP 3.18.0 cleanup
  src/Protocol/Features/Document/CodeActionFeature.cs
  src/Protocol/Features/Document/SignatureHelpFeature.cs
  src/Protocol/Models/LanguageKind.cs
  src/Protocol/Serialization/Serializer.cs
  test/Lsp.Tests/Models/Lsp318FeatureTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Add System.Text.Json migration iteration plan
  iteration-plan.md
Due: none

Use System.Text.Json by default
  src/JsonRpc/JsonRpcServerOptions.cs
  test/JsonRpc.Tests/SerializerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP progress payloads to JsonElement
  src/Protocol/Client/WorkDone/LanguageClientWorkDoneManager.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/PartialItemRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/PartialItemsWithInitialValueRequestProgressObservable.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Progress/ProgressObservable.cs
  src/Protocol/Progress/ProgressObserver.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix pipeline delegates after rebase
  src/JsonRpc.Testing/SettlePipeline.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  src/Server/Pipelines/SemanticTokensDeltaPipeline.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
Due: dotnet nuke lint --no-logo --lint-files

feat!: migrate inbound JSON DOM to System.Text.Json
  src/Client/LanguageClient.cs
  src/Client/LspClientReceiver.cs
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Protocol/IDebugAdapterProtocolProxy.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/JsonRpc/DefaultJsonRpcServerFacade.cs
  src/JsonRpc/IReceiver.cs
  src/JsonRpc/IResponseRouter.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerBase.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/Receiver.cs
  src/JsonRpc/ResponseRouter.cs
  src/JsonRpc/Serialization/SerializerBase.cs
  src/JsonRpc/Server/IMethodWithParams.cs
  src/JsonRpc/Server/Notification.cs
  src/JsonRpc/Server/Request.cs
  src/JsonRpc/Server/ServerErrorResult.cs
  src/JsonRpc/Server/ServerResponse.cs
  src/Protocol/LanguageProtocolProxy.cs
  src/Server/LspServerReceiver.cs
  src/Shared/LspRequestRouter.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/Dap.Tests/JsonTestHelper.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/JsonRpc.Tests/JsonTestHelper.cs
  test/JsonRpc.Tests/MediatorTestsNotificationHandlerOfT.cs
  test/JsonRpc.Tests/MediatorTestsRequestHandlerOfTRequest.cs
  test/JsonRpc.Tests/MediatorTestsRequestHandlerOfTRequestTResponse.cs
  test/JsonRpc.Tests/RequestRouterTests.cs
  test/JsonRpc.Tests/ResponseRouterTests.cs
  test/JsonRpc.Tests/Server/SpecificationReceiverTests.cs
  test/JsonRpc.Tests/Server/SpecificatiosIdTests.cs
  test/Lsp.Tests/JsonTestHelper.cs
  test/Lsp.Tests/LspRequestRouterTests.cs
  test/Lsp.Tests/MediatorTestsRequestHandlerOfTRequestTResponse.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate LSP resolvable data to JsonElement
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  src/JsonRpc/Serialization/Converters/JsonElementConverter.cs
  src/Protocol/Features/Document/CallHierarchyFeature.cs
  src/Protocol/Features/Document/CodeActionFeature.cs
  src/Protocol/Features/Document/CodeLensFeature.cs
  src/Protocol/Features/Document/CompletionFeature.cs
  src/Protocol/Features/Document/DocumentLinkFeature.cs
  src/Protocol/Features/Document/InlayHintFeature.cs
  src/Protocol/Features/Document/TypeHierarchyFeature.cs
  src/Protocol/Features/Workspace/WorkspaceSymbolsFeature.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/ICanBeResolved.cs
  src/Server/Matchers/ResolveCommandMatcher.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Inlay_Hint#Test0_OutlayHintTyped.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Nullable_Params_With_Typed_Data#Test0_SubLensTyped.verified.cs
  test/Generation.Tests/snapshots/TypedCanBeResolvedTests.Supports_Generating_Strongly_Typed_ICanBeResolved_Data#Test0_CodeLensTyped.verified.cs
  test/Lsp.Integration.Tests/TypedCompletionTests.cs
  test/Lsp.Integration.Tests/TypedInlayHintTests.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
  test/Lsp.Tests/Models/CodeLensTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate DAP serializer to System.Text.Json
  src/Dap.Protocol/DapSerializer.cs
  src/Dap.Protocol/Feature/Requests/AttachFeature.cs
  src/Dap.Protocol/Feature/Requests/LaunchFeature.cs
  src/Dap.Protocol/Models/Module.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Add System.Text.Json to migration guide
  docs/migration-v1.md
Due: none

Migrate LSP capability data to JsonElement
  src/Protocol/CapabilitiesBase.cs
  src/Protocol/Client/Capabilities/ClientCapabilities.cs
  src/Protocol/Client/Capabilities/IClientCapabilities.cs
  src/Protocol/Client/LanguageClientOptions.cs
  src/Protocol/ICapabilitiesBase.cs
  src/Protocol/Serialization/LspContractResolver.cs
  src/Protocol/Server/Capabilities/IServerCapabilities.cs
  src/Protocol/Server/Capabilities/ServerCapabilities.cs
  test/Lsp.Integration.Tests/ExtensionTests.cs
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests.cs
  test/Lsp.Tests/Capabilities/Server/ServerCapabilitiesTests.cs
  test/Lsp.Tests/Models/InitializeParamsTests.cs
  test/Lsp.Tests/Models/InitializeResultTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Migrate message action data to JsonElement
  src/Protocol/Features/Window/ShowMessageRequestFeature.cs
  src/Protocol/Serialization/LspContractResolver.cs
  test/Lsp.Tests/Models/ShowMessageRequestParamsTests.cs
Due: dotnet nuke lint --no-logo --lint-files
