Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

fixed unit tests
  test/Lsp.Tests/Models/CompletionItemTests_$SimpleTest.json
Due: prettier --write

moved handler around
  src/Protocol/Workspace/Proposals/ICodeLensRefreshHandler.cs
  src/Protocol/Workspace/Proposals/ISemanticTokensRefreshHandler.cs
Due: dotnet nuke lint --no-logo --lint-files

Added some additional helpers for both Range and Position (#410)
  package-lock.json
  src/Protocol/Models/Position.Helpers.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Range.Helpers.cs
  src/Protocol/Models/Range.cs
  src/Testing/PositionMarker.cs
  src/Testing/TestConfigurationProvider.cs
  src/Testing/TestContent.cs
  src/Testing/TestContentOptions.cs
  src/Testing/TestSourceHelpers.cs
  test/Lsp.Tests/Models/PositionTests.cs
  test/Lsp.Tests/Models/RangeTests.cs
  test/Lsp.Tests/Testing/TestContentTests.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated to the latest spec changes (#415)
  language-server-protocol.sha.txt
  src/Protocol/Client/Capabilities/ClientCapabilities.cs
  src/Protocol/Client/Capabilities/CodeLensWorkspaceClientCapabilities.cs
  src/Protocol/Client/Capabilities/CompletionItemCapabilityOptions.cs
  src/Protocol/Client/Capabilities/FoldingRangeCapability.cs
  src/Protocol/Client/Capabilities/SemanticTokensCapability.cs
  src/Protocol/Client/Capabilities/ShowMessageRequestClientCapabilities.cs
  src/Protocol/Client/Capabilities/ShowMessageRequestMessageActionItemClientCapabilities.cs
  src/Protocol/Client/Capabilities/WindowClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceEditCapability.cs
  src/Protocol/Models/CompletionItem.cs
  src/Protocol/Models/FoldingRange.cs
  src/Protocol/Models/FormattingOptions.cs
  src/Protocol/Models/InitializeParams.cs
  src/Protocol/Models/InsertReplaceEdit.cs
  src/Protocol/Models/InsertTextMode.cs
  src/Protocol/Models/MessageActionItem.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Proposals/CodeLensRefreshParams.cs
  src/Protocol/Models/Proposals/SemanticTokens.cs
  src/Protocol/Models/Proposals/SemanticTokensEdit.cs
  src/Protocol/Models/PublishDiagnosticsParams.cs
  src/Protocol/Models/TextDocumentContentChangeEvent.cs
  src/Protocol/Models/WorkDoneProgressBegin.cs
  src/Protocol/Models/WorkDoneProgressReport.cs
  src/Protocol/Workspace/Proposals/ICodeLensRefreshHandler.cs
  src/Protocol/WorkspaceNames.cs
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Capabilities/Client/WorkspaceClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Models/CompletionItemTests_$SimpleTest.json
  test/Lsp.Tests/Models/CompletionListTests_$ComplexTest.json
  test/Lsp.Tests/Models/CompletionListTests_$SimpleTest.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

experimenting with records
  src/JsonRpc/Nullable/RecordAttributes.cs
  src/Protocol/Document/TextDocumentAttributes.cs
  src/Protocol/DocumentUri.Internal.cs
  src/Protocol/DocumentUri.cs
  src/Protocol/Models/ConfigurationItem.cs
  src/Protocol/Models/Location.cs
  src/Protocol/Models/PlaceholderRange.cs
  src/Protocol/Models/Position.Helpers.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Range.Helpers.cs
  src/Protocol/Models/Range.cs
  src/Protocol/Models/TextDocumentIdentifier.cs
  src/Protocol/Models/TextDocumentItem.cs
  src/Protocol/Models/TextEdit.cs
  src/Protocol/Models/VersionedTextDocumentIdentifier.cs
  src/Protocol/Models/WorkspaceFolder.cs
  test/Client.Tests/ClientTests.cs
  test/Lsp.Tests/Models/DidChangeTextDocumentParamsTests_$NonStandardCharactersTest.json
  test/Lsp.Tests/Models/DidChangeTextDocumentParamsTests_$SimpleTest.json
  test/Lsp.Tests/Models/DidOpenTextDocumentParamsTests.cs
  test/Lsp.Tests/Models/TextDocumentEditTests.cs
  test/Lsp.Tests/Models/TextDocumentItemTests.cs
  test/Lsp.Tests/Models/VersionedTextDocumentIdentifierTests.cs
  test/Lsp.Tests/SemanticTokensDocumentTests.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

couple more minor changes for example
  src/Protocol/Client/WorkDone/LanguageClientWorkDoneManager.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/ProgressToken.cs
  src/Protocol/Models/Range.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Serialization/Converters/ProgressTokenConverter.cs
  src/Protocol/Server/WorkDone/LanguageServerWorkDoneManager.cs
Due: dotnet nuke lint --no-logo --lint-files

Added warning message when a message is dropped during initialization
  Directory.Build.targets
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/Client/LspClientOutputFilter.cs
  src/Client/LspClientReceiver.cs
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Protocol/DapOutputFilter.cs
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Server/DebugAdapterServer.cs
  src/Dap.Shared/DebugAdapterProtocolServiceCollectionExtensions.cs
  src/JsonRpc/IOutputFilter.cs
  src/JsonRpc/IReceiver.cs
  src/JsonRpc/JsonRpcServerOptions.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/Receiver.cs
  src/Server/LanguageServer.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  src/Server/LspServerReceiver.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/Directory.Build.targets
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/JsonRpc.Tests/Server/SpecificationReceiverTests.cs
  test/JsonRpc.Tests/Server/SpecificatiosIdTests.cs
  test/Lsp.Tests/Integration/InitializationTests.cs
  test/TestingUtils/AutoNSubstitute/TestExtensions.cs
  test/TestingUtils/AutoNSubstitute/TestLogger.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
Due: dotnet nuke lint --no-logo --lint-files

updated rules for input and output
  src/Client/LanguageClient.cs
  src/Client/LspClientOutputFilter.cs
  src/Client/LspClientReceiver.cs
  src/Server/LanguageServer.cs
  src/Server/LspServerOutputFilter.cs
  src/Server/LspServerReceiver.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to send outgoing messages once initialization has completed
  src/Client/LspClientOutputFilter.cs
  src/Client/LspClientReceiver.cs
  src/Dap.Protocol/DapOutputFilter.cs
  src/Dap.Protocol/DapReceiver.cs
  src/JsonRpc/IReceiver.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/OutputHandler.cs
  src/JsonRpc/Receiver.cs
  src/Server/LspServerOutputFilter.cs
  src/Server/LspServerReceiver.cs
  src/Shared/LanguageProtocolServiceCollectionExtensions.cs
  src/Shared/OutputHandlerInitialized.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/JsonRpc.Tests/OutputHandlerTests.cs
  test/JsonRpc.Tests/Server/SpecificationReceiverTests.cs
  test/JsonRpc.Tests/Server/SpecificatiosIdTests.cs
  test/Lsp.Tests/Integration/InitializationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added warning message when a message is dropped during initialization (#417)
  Directory.Build.targets
  src/Client/LanguageClient.cs
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/Client/LspClientOutputFilter.cs
  src/Client/LspClientReceiver.cs
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Protocol/DapOutputFilter.cs
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Server/DebugAdapterServer.cs
  src/Dap.Shared/DebugAdapterProtocolServiceCollectionExtensions.cs
  src/JsonRpc/IOutputFilter.cs
  src/JsonRpc/IReceiver.cs
  src/JsonRpc/JsonRpcServerOptions.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/OutputHandler.cs
  src/JsonRpc/Receiver.cs
  src/Server/LanguageServer.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  src/Server/LspServerOutputFilter.cs
  src/Server/LspServerReceiver.cs
  src/Shared/LanguageProtocolServiceCollectionExtensions.cs
  src/Shared/OutputHandlerInitialized.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
  test/Directory.Build.targets
  test/JsonRpc.Tests/OutputHandlerTests.cs
  test/Lsp.Tests/Integration/InitializationTests.cs
  test/TestingUtils/AutoNSubstitute/TestExtensions.cs
  test/TestingUtils/AutoNSubstitute/TestLogger.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
Due: dotnet nuke lint --no-logo --lint-files

Added latest spec changes, showDocument and onTypeRename
  .build/.build.csproj
  .vscode/settings.json
  Directory.Build.targets
  LSP.sln
  language-server-protocol.sha.txt
  sample/SampleServer/Program.cs
  sample/SampleServer/SemanticTokensHandler.cs
  sample/SampleServer/TextDocumentHandler.cs
  src/Dap.Client/Configuration/ChainedConfigurationProvider.cs
  src/Protocol/Client/Capabilities/ClientCapabilities.cs
  src/Protocol/Client/Capabilities/CompletionItemCapabilityOptions.cs
  src/Protocol/Client/Capabilities/OnTypeRenameClientCapabilities.cs
  src/Protocol/Client/Capabilities/ShowDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/TextDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/WindowClientCapabilities.cs
  src/Protocol/Document/IOnTypeRenameHandler.cs
  src/Protocol/Models/ApplyWorkspaceEditResponse.cs
  src/Protocol/Models/DidSaveTextDocumentParams.cs
  src/Protocol/Models/FoldingRangeRegistrationOptions.cs
  src/Protocol/Models/InsertReplaceEdit.cs
  src/Protocol/Models/OnTypeRenameParams.cs
  src/Protocol/Models/OnTypeRenameRanges.cs
  src/Protocol/Models/OnTypeRenameRegistrationOptions.cs
  src/Protocol/Models/OptionalVersionedTextDocumentIdentifier.cs
  src/Protocol/Models/Proposals/CallHierarchyRegistrationOptions.cs
  src/Protocol/Models/ShowDocumentParams.cs
  src/Protocol/Models/ShowDocumentResult.cs
  src/Protocol/Models/TypeDefinitionRegistrationOptions.cs
  src/Protocol/Protocol.csproj
  src/Protocol/Server/Capabilities/ServerCapabilities.cs
  src/Protocol/TextDocumentNames.cs
  src/Protocol/Window/IShowDocumentRequestHandler.cs
  src/Protocol/WindowNames.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

fixed build
  .azure-pipelines.yml
  .build/Solution.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Added latest spec changes, showDocument and onTypeRename (#431)
  .azure-pipelines.yml
  .build/.build.csproj
  .build/Solution.cs
  .github/workflows/ci.yml
  .vscode/settings.json
  Directory.Build.targets
  LSP.sln
  language-server-protocol.sha.txt
  sample/SampleServer/Program.cs
  sample/SampleServer/SemanticTokensHandler.cs
  sample/SampleServer/TextDocumentHandler.cs
  src/Dap.Client/Configuration/ChainedConfigurationProvider.cs
  src/Protocol/Client/Capabilities/ClientCapabilities.cs
  src/Protocol/Client/Capabilities/CompletionItemCapabilityOptions.cs
  src/Protocol/Client/Capabilities/OnTypeRenameClientCapabilities.cs
  src/Protocol/Client/Capabilities/ShowDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/TextDocumentClientCapabilities.cs
  src/Protocol/Client/Capabilities/WindowClientCapabilities.cs
  src/Protocol/Document/IOnTypeRenameHandler.cs
  src/Protocol/Models/ApplyWorkspaceEditResponse.cs
  src/Protocol/Models/DidSaveTextDocumentParams.cs
  src/Protocol/Models/FoldingRangeRegistrationOptions.cs
  src/Protocol/Models/InsertReplaceEdit.cs
  src/Protocol/Models/OnTypeRenameParams.cs
  src/Protocol/Models/OnTypeRenameRanges.cs
  src/Protocol/Models/OnTypeRenameRegistrationOptions.cs
  src/Protocol/Models/OptionalVersionedTextDocumentIdentifier.cs
  src/Protocol/Models/Proposals/CallHierarchyRegistrationOptions.cs
  src/Protocol/Models/ShowDocumentParams.cs
  src/Protocol/Models/ShowDocumentResult.cs
  src/Protocol/Models/TypeDefinitionRegistrationOptions.cs
  src/Protocol/Protocol.csproj
  src/Protocol/Server/Capabilities/ServerCapabilities.cs
  src/Protocol/TextDocumentNames.cs
  src/Protocol/Window/IShowDocumentRequestHandler.cs
  src/Protocol/WindowNames.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Added additional source generation pieces
  LSP.sln
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/GeneratorDiagnostics.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  src/JsonRpc/Nullable/Records.cs
  src/Protocol/Attributes.cs
  src/Protocol/Protocol.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Generation.Tests/GeneratedRegistrationOptionsTests.cs
  test/Generation.Tests/Generation.Tests.csproj
  test/Generation.Tests/GenerationHelpers.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

Fixed failing tests
  src/JsonRpc.Generators/JsonRpc.Generators.csproj
  test/Lsp.Tests/Models/FormattingOptionsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Move to use built in source generation (#314)
  Directory.Build.targets
  LSP.sln
  README.md
  src/Dap.Protocol/Dap.Protocol.csproj
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/GenerateRequestMethodsGenerator.cs
  src/JsonRpc.Generators/GeneratorDiagnostics.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/JsonRpc.Generators.csproj
  src/JsonRpc.Generators/Preamble.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  src/JsonRpc/Generation/GenerateHandlerMethodsAttribute.cs
  src/JsonRpc/Generation/GenerateRequestMethodsAttribute.cs
  src/JsonRpc/JsonRpc.csproj
  src/JsonRpc/Nullable/Records.cs
  src/Protocol/Attributes.cs
  src/Protocol/Protocol.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Generation.Tests/GeneratedRegistrationOptionsTests.cs
  test/Generation.Tests/Generation.Tests.csproj
  test/Generation.Tests/GenerationHelpers.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
  test/Lsp.Tests/Integration/ExecuteCommandTests.cs
  test/Lsp.Tests/Lsp.Tests.csproj
  test/Lsp.Tests/Models/FormattingOptionsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Refactored source generation enabling support for strategies
  src/JsonRpc.Generators/ActionContextExtensions.cs
  src/JsonRpc.Generators/Contexts/DapAttributes.cs
  src/JsonRpc.Generators/Contexts/ExtensionMethodContext.cs
  src/JsonRpc.Generators/Contexts/ExtensionMethodData.cs
  src/JsonRpc.Generators/Contexts/JsonRpcAttributes.cs
  src/JsonRpc.Generators/Contexts/LspAttributes.cs
  src/JsonRpc.Generators/Contexts/NotificationItem.cs
  src/JsonRpc.Generators/Contexts/RequestItem.cs
  src/JsonRpc.Generators/Contexts/SyntaxSymbol.cs
  src/JsonRpc.Generators/DelegateHelpers.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/ICompilationUnitGeneratorStrategy.cs
  src/JsonRpc.Generators/IExtensionMethodContextGeneratorStrategy.cs
  src/JsonRpc.Generators/IExtensionMethodGeneratorStrategy.cs
  src/JsonRpc.Generators/Records.cs
  src/JsonRpc.Generators/Strategies/EnsureNamespaceStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerRegistryActionContextRunnerStrategy.cs
  src/JsonRpc.Generators/Strategies/OnNotificationMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnNotificationMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/RequestProxyActionContextRunnerStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodNotificationStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/JsonRpc.Generators/Strategies/WarnIfResponseRouterIsNotProvidedStrategy.cs
  src/JsonRpc.Generators/SymbolExtensions.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed capabilities not working correctly
  src/JsonRpc.Generators/Strategies/ExtensionMethodGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/Protocol/AbstractHandlers.cs
  test/Client.Tests/ClientTests.cs
Due: dotnet nuke lint --no-logo --lint-files

more registration options changes in generation
  sample/SampleServer/DidChangeWatchedFilesHandler.cs
  sample/SampleServer/FoldingRangeHandler.cs
  sample/SampleServer/SemanticTokensHandler.cs
  sample/SampleServer/TextDocumentHandler.cs
  src/JsonRpc.Generators/Contexts/JsonRpcAttributes.cs
  src/JsonRpc.Generators/DelegateHelpers.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/Strategies/OnNotificationMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc/NotificationHandler.cs
  src/JsonRpc/RequestHandler.cs
  src/Protocol/Attributes.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.cs
  src/Protocol/Workspace/IDidChangeWorkspaceFoldersHandler.cs
  test/Client.Tests/ClientTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Lsp.Tests/ClientCapabilityProviderFixture.cs
  test/Lsp.Tests/ExecuteCommandSyncHandlerExtensions.cs
  test/Lsp.Tests/HandlerResolverTests.cs
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
  test/Lsp.Tests/Integration/InitializationTests.cs
  test/Lsp.Tests/Integration/OverrideHandlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added support for generation with AllowDerivedRequests
  src/Dap.Protocol/Feature/Requests/AttachFeature.cs
  src/Dap.Protocol/Feature/Requests/IAttachHandler.cs
  src/Dap.Protocol/Feature/Requests/ILaunchHandler.cs
  src/Dap.Protocol/Feature/Requests/LaunchFeature.cs
  src/Dap.Protocol/Requests/AttachRequestArguments.cs
  src/Dap.Protocol/Requests/AttachResponse.cs
  src/Dap.Protocol/Requests/LaunchRequestArguments.cs
  src/Dap.Protocol/Requests/LaunchResponse.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  test/Dap.Tests/Integration/CustomRequestsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

moved around some of the generation bits
  src/Dap.Protocol/Feature/Requests/AttachFeature.cs
  src/Dap.Protocol/Feature/Requests/LaunchFeature.cs
  src/JsonRpc.Generators/Contexts/JsonRpcAttributes.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc/Generation/GenerateHandlerAttribute.cs
  src/JsonRpc/Generation/GenerateHandlerMethodsAttribute.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated source generation documentation
  docs/source-generation.md
Due: none

some more lsp docs
  docs/lsp.md
Due: none

removed some additional files that were left
  src/Protocol/Features/Document/Proposals/MonikerFeature.cs
  src/Protocol/Features/Document/Proposals/SemanticTokensBuilder.cs
  src/Protocol/Features/Document/Proposals/SemanticTokensDocument.cs
  src/Protocol/Features/Document/Proposals/SemanticTokensFeature.cs
  src/Protocol/Models/Proposals/CallHierarchyIncomingCall.cs
  src/Protocol/Models/Proposals/CallHierarchyIncomingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyItem.cs
  src/Protocol/Models/Proposals/CallHierarchyOutgoingCall.cs
  src/Protocol/Models/Proposals/CallHierarchyOutgoingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyPrepareParams.cs
  src/Protocol/Models/Proposals/CallHierarchyRegistrationOptions.cs
  src/Protocol/Models/Proposals/ISemanticTokenResult.cs
  src/Protocol/Models/Proposals/Moniker.cs
  src/Protocol/Models/Proposals/MonikerKind.cs
  src/Protocol/Models/Proposals/MonikerParams.cs
  src/Protocol/Models/Proposals/MonikerRegistrationOptions.cs
  src/Protocol/Models/Proposals/SemanticTokenFormat.cs
  src/Protocol/Models/Proposals/SemanticTokenModifiers.cs
  src/Protocol/Models/Proposals/SemanticTokenTypes.cs
  src/Protocol/Models/Proposals/SemanticTokens.cs
  src/Protocol/Models/Proposals/SemanticTokensDelta.cs
  src/Protocol/Models/Proposals/SemanticTokensDeltaParams.cs
  src/Protocol/Models/Proposals/SemanticTokensDeltaPartialResult.cs
  src/Protocol/Models/Proposals/SemanticTokensEdit.cs
  src/Protocol/Models/Proposals/SemanticTokensFullOrDelta.cs
  src/Protocol/Models/Proposals/SemanticTokensFullOrDeltaPartialResult.cs
  src/Protocol/Models/Proposals/SemanticTokensLegend.cs
  src/Protocol/Models/Proposals/SemanticTokensParams.cs
  src/Protocol/Models/Proposals/SemanticTokensPartialResult.cs
  src/Protocol/Models/Proposals/SemanticTokensRangeParams.cs
  src/Protocol/Models/Proposals/SemanticTokensRegistrationOptions.cs
  src/Protocol/Models/Proposals/UniquenessLevel.cs
  src/Protocol/Models/TextDocumentSaveRegistrationOptions.cs
Due: dotnet nuke lint --no-logo --lint-files

Added errors for when a given class or interface must be partial
  src/JsonRpc.Generators/GeneratorDiagnostics.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/Strategies/AutoImplementParamsGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  src/JsonRpc/CancelParams.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed failing unit tests
  test/Generation.Tests/GeneratedRegistrationOptionsTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Update cancellation timeout
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed some bugs and hopefully addressed performance
  src/JsonRpc.Generators/AutoImplementParamsGenerator.cs
  src/JsonRpc.Generators/Contexts/GeneratorData.cs
  src/JsonRpc.Generators/Contexts/LspAttributes.cs
  src/JsonRpc.Generators/Contexts/RegistrationOptionAttributes.cs
  src/JsonRpc.Generators/DelegateHelpers.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/Strategies/AutoImplementParamsGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/ExtensionMethodGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  test/Generation.Tests/LspFeatureTests.cs
Due: dotnet nuke lint --no-logo --lint-files

only generate to file when using rider
  Directory.Build.targets
  src/Dap.Protocol/Dap.Protocol.csproj
  src/Protocol/Protocol.csproj
  test/Lsp.Tests/Integration/ExtensionTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
  test/Lsp.Tests/Lsp.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

Remove extra normalize whitespace calls.
  src/JsonRpc.Generators/AutoImplementParamsGenerator.cs
  src/JsonRpc.Generators/DelegateHelpers.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/Strategies/ExtensionMethodGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/OnNotificationMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestTypedResolveMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestTypedResolveMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodNotificationStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  test/Generation.Tests/Records.cs
Due: dotnet nuke lint --no-logo --lint-files

Added source generator caching... yes I know we're not supposed to do this but 3 second intellisense times are unbearable
  src/JsonRpc.Generators/AutoImplementParamsGenerator.cs
  src/JsonRpc.Generators/Cache/AddCacheSource.cs
  src/JsonRpc.Generators/Cache/CacheContainer.cs
  src/JsonRpc.Generators/Cache/CacheKeyHasher.cs
  src/JsonRpc.Generators/Cache/CachedSourceGenerator.cs
  src/JsonRpc.Generators/Cache/IReceiverCache.cs
  src/JsonRpc.Generators/Cache/SourceTextCache.cs
  src/JsonRpc.Generators/Cache/SyntaxReceiverCache.cs
  src/JsonRpc.Generators/Contexts/DapAttributes.cs
  src/JsonRpc.Generators/Contexts/GeneratorData.cs
  src/JsonRpc.Generators/Contexts/JsonRpcAttributes.cs
  src/JsonRpc.Generators/Contexts/LspAttributes.cs
  src/JsonRpc.Generators/Contexts/NotificationItem.cs
  src/JsonRpc.Generators/Contexts/RequestItem.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/RegistrationOptionsGenerator.cs
  src/JsonRpc.Generators/Strategies/WarnIfResponseRouterIsNotProvidedStrategy.cs
  src/JsonRpc.Generators/StronglyTypedGenerator.cs
  test/Generation.Tests/AutoImplementParamsGeneratorTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable source generators to disk
  Directory.Build.targets
  src/Dap.Protocol/Dap.Protocol.csproj
  src/JsonRpc.Generators/AutoImplementParamsGenerator.cs
  src/JsonRpc.Generators/Cache/CacheKeyHasher.cs
  src/Protocol/Protocol.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
