Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Set server receiver to `initialized` at the end of the `initialize` request (#589)
  src/Server/LanguageServer.cs
Due: dotnet nuke lint --no-logo --lint-files

Clean System.IO.Pipelines explicit dependency
  Directory.Build.targets
  src/JsonRpc/JsonRpc.csproj
Due: none

Fix version conflicts caused by PR#626
  Directory.Build.targets
  sample/SampleServer/SampleServer.csproj
Due: none

Treat missing `.ConfigureAwait(false)` as errors (and fix)
  .editorconfig
  Directory.Build.props
  sample/SampleServer/Program.cs
  sample/SampleServer/SemanticTokensHandler.cs
  sample/SampleServer/TextDocumentHandler.cs
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Testing/DebugAdapterProtocolTestBase.cs
  src/JsonRpc/OutputHandler.cs
  src/Protocol/Features/Document/CallHierarchyFeature.cs
  src/Server/LanguageServer.Shutdown.cs
  test/.editorconfig
Due: dotnet nuke lint --no-logo --lint-files

Treat missing `.ConfigureAwait(false)` as errors (and fix) (#633)
  .editorconfig
  Directory.Build.props
  sample/SampleServer/Program.cs
  sample/SampleServer/SemanticTokensHandler.cs
  sample/SampleServer/TextDocumentHandler.cs
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Testing/DebugAdapterProtocolTestBase.cs
  src/JsonRpc/OutputHandler.cs
  src/Protocol/Features/Document/CallHierarchyFeature.cs
  src/Server/LanguageServer.Shutdown.cs
  test/.editorconfig
Due: dotnet nuke lint --no-logo --lint-files

Fix potential unobserved exception in InputHandler.cs
  src/JsonRpc/InputHandler.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix trace state parsing.
  src/JsonRpc/Receiver.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix trace state parsing. (#638)
  src/JsonRpc/Receiver.cs
Due: dotnet nuke lint --no-logo --lint-files

Refactor request invocation to be extensible.
  src/JsonRpc/Connection.cs
  src/JsonRpc/DefaultRequestInvoker.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/RequestInvocationHandle.cs
  src/JsonRpc/RequestInvoker.cs
  src/JsonRpc/RequestInvokerOptions.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Make existing request response types fully public
  src/JsonRpc/ContentModified.cs
  src/JsonRpc/RequestCancelled.cs
  src/JsonRpc/TimeLoggerExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix test.
  test/Lsp.Integration.Tests/TypedCompletionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix potential unobserved exception in InputHandler.cs (#635)
  src/JsonRpc/InputHandler.cs
Due: dotnet nuke lint --no-logo --lint-files

Addressed code review comments
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

Refactor request invocation to be extensible. (#641)
  src/JsonRpc/Connection.cs
  src/JsonRpc/ContentModified.cs
  src/JsonRpc/DefaultRequestInvoker.cs
  src/JsonRpc/InputHandler.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/RequestCancelled.cs
  src/JsonRpc/RequestInvocationHandle.cs
  src/JsonRpc/RequestInvoker.cs
  src/JsonRpc/RequestInvokerOptions.cs
  src/JsonRpc/TimeLoggerExtensions.cs
  test/JsonRpc.Tests/InputHandlerTests.cs
  test/Lsp.Integration.Tests/TypedCompletionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated dotnet tools
  .config/dotnet-tools.json
  .github/workflows/draft-release.yml
  .vscode/tasks.json
  .vscode/tasks.json.old
Due: prettier --write

Updated dotnet tools (#646)
  .config/dotnet-tools.json
  .github/workflows/draft-release.yml
  .vscode/tasks.json
  .vscode/tasks.json.old
Due: prettier --write

Pin MediatR to use floating version 8.* to avoid breaking change in MediatR 9.0.0
  Directory.Build.targets
Due: none

Switch to using version range
  Directory.Build.targets
Due: none

Update MediatR to 9.0.0
  Directory.Build.targets
Due: none

Updated build and test dependencies to the latest
  .build/.build.csproj
  .build/Build.cs
  .build/Solution.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci.yml
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .lintstagedrc.js
  .nuke
  .nuke/build.schema.json
  .nuke/parameters.json
  .nuke/temp/build-attempt.log
  .nuke/temp/build.log
  .nuke/temp/packageicon.png
  .prettierignore
  Directory.Build.targets
  azure-pipelines.nuke.yml
  benchmarks/Pipeline/Pipeline.csproj
  build.cmd
  build.ps1
  build.sh
  global.json
  package.json
  sample/SampleServer/SampleServer.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

fixed failing generation tests, broken by formatting differences
  test/Generation.Tests/AutoImplementParamsGeneratorTests.cs
  test/Generation.Tests/GeneratedRegistrationOptionsTests.cs
  test/Generation.Tests/Generation.Tests.csproj
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Integration.Tests/Lsp.Integration.Tests.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

Removed nuke temp
  .gitignore
  .nuke/temp/build-attempt.log
  .nuke/temp/build.log
  .nuke/temp/packageicon.png
Due: none

Ignore nuke temp
  .gitignore
Due: none

Updated image path locations
  Directory.Build.props
Due: none

Updated private test dependencies
  Directory.Build.targets
  test/Dap.Tests/Integration/RequestCancellationTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/JsonRpc.Tests/HandlerResolverTests.cs
  test/JsonRpc.Tests/IntegrationTests.cs
  test/JsonRpc.Tests/RecursiveResolutionTests.cs
  test/Lsp.Integration.Tests/ErroringHandlingTests.cs
  test/Lsp.Integration.Tests/LanguageServerConfigurationTests.cs
  test/Lsp.Integration.Tests/RequestCancellationTests.cs
  test/Lsp.Integration.Tests/WorkspaceFolderTests.cs
  test/Lsp.Tests/Capabilities/Server/TextDocumentSyncKindTests.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
  test/Lsp.Tests/Models/CompletionItemKindTests.cs
  test/Lsp.Tests/Models/DiagnosticSeverityTests.cs
  test/Lsp.Tests/Models/DocumentHighlightKindTests.cs
  test/Lsp.Tests/Models/FileChangeTypeTests.cs
  test/Lsp.Tests/Models/InsertTextFormatTests.cs
  test/Lsp.Tests/Models/MessageTypeTests.cs
  test/Lsp.Tests/Models/SymbolKindTests.cs
  test/Lsp.Tests/Models/TextDocumentSaveReasonTests.cs
  test/TestingUtils/AutoNSubstitute/TraceWriter.cs
  test/TestingUtils/RecordStructuralEqualityEquivalencyStep.cs
Due: dotnet nuke lint --no-logo --lint-files

removed mergify
  .build/Solution.cs
  .husky/pre-commit
  .mergify.yml
  package-lock.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated private test dependencies (#758)
  .build/Solution.cs
  .husky/pre-commit
  .mergify.yml
  Directory.Build.targets
  package-lock.json
  test/Dap.Tests/Integration/RequestCancellationTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/JsonRpc.Tests/HandlerResolverTests.cs
  test/JsonRpc.Tests/IntegrationTests.cs
  test/JsonRpc.Tests/RecursiveResolutionTests.cs
  test/Lsp.Integration.Tests/ErroringHandlingTests.cs
  test/Lsp.Integration.Tests/LanguageServerConfigurationTests.cs
  test/Lsp.Integration.Tests/RequestCancellationTests.cs
  test/Lsp.Integration.Tests/WorkspaceFolderTests.cs
  test/Lsp.Tests/Capabilities/Server/TextDocumentSyncKindTests.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
  test/Lsp.Tests/Models/CompletionItemKindTests.cs
  test/Lsp.Tests/Models/DiagnosticSeverityTests.cs
  test/Lsp.Tests/Models/DocumentHighlightKindTests.cs
  test/Lsp.Tests/Models/FileChangeTypeTests.cs
  test/Lsp.Tests/Models/InsertTextFormatTests.cs
  test/Lsp.Tests/Models/MessageTypeTests.cs
  test/Lsp.Tests/Models/SymbolKindTests.cs
  test/Lsp.Tests/Models/TextDocumentSaveReasonTests.cs
  test/TestingUtils/AutoNSubstitute/TraceWriter.cs
  test/TestingUtils/RecordStructuralEqualityEquivalencyStep.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Removed explicit reference to System.IO.Pipelines see #595
  Directory.Build.targets
  sample/SampleServer/SampleServer.csproj
  src/JsonRpc/JsonRpc.csproj
Due: none

Removed explicit reference to System.IO.Pipelines see #595 (#759)
  Directory.Build.targets
  sample/SampleServer/SampleServer.csproj
  src/JsonRpc/JsonRpc.csproj
Due: none

one more pipelines reference
  benchmarks/Pipeline/Pipeline.csproj
Due: none

Updated to system.reactive, collections.immutable and nerdbank.streams
  Directory.Build.targets
  src/JsonRpc.Generation/JsonRpc.Generation.csproj
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
Due: dotnet nuke lint --no-logo --lint-files

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Due: prettier --write

Update lsp.md
  docs/lsp.md
Due: none

disabled more warnings
  test/.editorconfig
Due: none

Remove empty file
  docs/dap.md
Due: none

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
