Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": [
        "dotnet nuke lint --no-logo --lint-files"
    ],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": [
        "prettier --write"
    ]
}

dropped global json to make builds work again
  global.json
Due: prettier --write

dropped global json to make builds work again (#396)
  global.json
Due: prettier --write

added default request handler, and decorator to ensure that if a IRequestContext is given, then that handler is used.
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed an issue where the MedatR handler was being registered in the container for 'built-in' handlers, these were overriding any custom ones that were added later
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.cs
  src/Protocol/Workspace/IDidChangeConfigurationHandler.cs
  src/Protocol/Workspace/IDidChangeWorkspaceFoldersHandler.cs
  src/Server/DefaultLanguageServerFacade.cs
  src/Server/LanguageServer.cs
  src/Server/LanguageServerHelpers.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  src/Testing/LanguageProtocolTestBase.cs
  src/Testing/LanguageServerTestBase.cs
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

removed some changes that are no longer needed
  src/Client/LanguageClientOptions.cs
  src/Client/LanguageClientOptionsExtensions.cs
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/Dap.Shared/DebugAdapterProtocolServiceCollectionExtensions.cs
  src/JsonRpc/JsonRpcHandlerCollectionExtensions.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/Server/LanguageServerOptions.cs
  src/Server/LanguageServerOptionsExtensions.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  src/Shared/LanguageProtocolServiceCollectionExtensions.cs
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Removed extra dependencies, we can add these at another time
  src/Protocol/ConfigureByConfigurationPathExtension.cs
  src/Protocol/Protocol.csproj
  test/Lsp.Tests/FluentAssertionsExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

removed unneeded code
  src/Testing/LanguageProtocolTestBase.cs
  src/Testing/LanguageServerTestBase.cs
Due: dotnet nuke lint --no-logo --lint-files

cleanup
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/JsonRpc/JsonRpcHandlerCollectionExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

Added additional assertions
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Custom handlers not override built in handlers correctly (#392)
  Directory.Build.targets
  src/Client/LanguageClientOptions.cs
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/Protocol/ConfigureByConfigurationPathExtension.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.cs
  src/Protocol/Protocol.csproj
  src/Protocol/Workspace/IDidChangeConfigurationHandler.cs
  src/Protocol/Workspace/IDidChangeWorkspaceFoldersHandler.cs
  src/Server/Configuration/DidChangeConfigurationProvider.cs
  src/Server/DefaultLanguageServerFacade.cs
  src/Server/LanguageServer.cs
  src/Server/LanguageServerHelpers.cs
  src/Server/LanguageServerOptions.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  test/Lsp.Tests/FluentAssertionsExtensions.cs
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
  test/Lsp.Tests/Lsp.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

the default Debug Adapter Protocol serializer was not set for camelcase
  src/Dap.Protocol/DapSerializer.cs
  src/Dap.Protocol/DebugAdapterRpcOptionsBase.cs
  src/Dap.Protocol/Serialization/DapContractResolver.cs
  src/Dap.Protocol/Serialization/Serializer.cs
  src/Protocol/Serialization/LspContractResolver.cs
  src/Protocol/Serialization/Serializer.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed failing tests
  test/Dap.Tests/Integration/CustomRequestsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

intermittent test
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix/dap default serialization (#400)
  src/Dap.Protocol/DapSerializer.cs
  src/Dap.Protocol/DebugAdapterRpcOptionsBase.cs
  src/Dap.Protocol/Serialization/DapContractResolver.cs
  src/Dap.Protocol/Serialization/Serializer.cs
  src/Protocol/Serialization/LspContractResolver.cs
  src/Protocol/Serialization/Serializer.cs
  test/Dap.Tests/DapOutputHandlerTests.cs
  test/Dap.Tests/DebugAdapterSpecifictionRecieverTests.cs
  test/Dap.Tests/Integration/CustomRequestsTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
Due: dotnet nuke lint --no-logo --lint-files

react to new registration type for semantic tokens
  src/JsonRpc/RegistrationNameAttribute.cs
  src/Protocol/Document/Proposals/ISemanticTokensHandler.cs
  src/Protocol/Models/Proposals/SemanticTokensRegistrationOptions.cs
  src/Protocol/Models/Registration.cs
  src/Protocol/Shared/LspHandlerDescriptor.cs
  src/Protocol/TextDocumentNames.cs
  src/Server/LanguageServerHelpers.cs
  src/Shared/SharedHandlerCollection.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated other changes made to spec
  language-server-protocol.sha.txt
  src/Protocol/Client/Capabilities/DocumentSymbolCapability.cs
  src/Protocol/Client/Capabilities/PublishDiagnosticsCapability.cs
  src/Protocol/Client/Capabilities/SemanticTokensWorkspaceCapability.cs
  src/Protocol/Client/Capabilities/WorkspaceClientCapabilities.cs
  src/Protocol/Models/CodeDescription.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/DocumentSymbolRegistrationOptions.cs
  src/Protocol/Models/ICanBeResolved.cs
  src/Protocol/Models/Proposals/CallHierarchyItem.cs
Due: dotnet nuke lint --no-logo --lint-files

Added strongly typed call hierarchy items
  src/Protocol/Document/Proposals/ICallHierarchyHandler.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/Proposals/CallHierarchyIncomingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyItem.cs
  src/Protocol/Models/Proposals/CallHierarchyOutgoingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyPrepareParams.cs
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Capabilities/Client/TextDocumentClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Integration/TypedCallHierarchyTests.cs
  test/Lsp.Tests/Models/InitializeParamsTests_$SimpleTest.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Added retry facts for ci only
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
  test/TestingUtils/BlockingMessageBus.cs
  test/TestingUtils/IRetryableTestCase.cs
  test/TestingUtils/RetryFactAttribute.cs
  test/TestingUtils/RetryFactDiscoverer.cs
  test/TestingUtils/RetryTestCase.cs
  test/TestingUtils/RetryTestCaseRunner.cs
  test/TestingUtils/RetryTheoryAttribute.cs
  test/TestingUtils/RetryTheoryDiscoverer.cs
  test/TestingUtils/RetryTheoryDiscoveryAtRuntimeCase.cs
  test/TestingUtils/TheoryWithSkipOnAttribute.cs
  test/TestingUtils/UnitTestDetector.cs
Due: dotnet nuke lint --no-logo --lint-files

Added retry facts for ci only (#402)
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
  test/TestingUtils/BlockingMessageBus.cs
  test/TestingUtils/IRetryableTestCase.cs
  test/TestingUtils/RetryFactAttribute.cs
  test/TestingUtils/RetryFactDiscoverer.cs
  test/TestingUtils/RetryTestCase.cs
  test/TestingUtils/RetryTestCaseRunner.cs
  test/TestingUtils/RetryTheoryAttribute.cs
  test/TestingUtils/RetryTheoryDiscoverer.cs
  test/TestingUtils/RetryTheoryDiscoveryAtRuntimeCase.cs
  test/TestingUtils/TheoryWithSkipOnAttribute.cs
  test/TestingUtils/UnitTestDetector.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated tests to use retry
  test/Lsp.Tests/Integration/TypedCallHierarchyTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
Due: dotnet nuke lint --no-logo --lint-files

retry facts
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
Due: dotnet nuke lint --no-logo --lint-files

retry facts
  test/Lsp.Tests/Integration/ExtensionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

react to new registration type for semantic tokens (#401)
  language-server-protocol.sha.txt
  src/JsonRpc/RegistrationNameAttribute.cs
  src/Protocol/Client/Capabilities/DocumentSymbolCapability.cs
  src/Protocol/Client/Capabilities/PublishDiagnosticsCapability.cs
  src/Protocol/Client/Capabilities/SemanticTokensWorkspaceCapability.cs
  src/Protocol/Client/Capabilities/WorkspaceClientCapabilities.cs
  src/Protocol/Document/Proposals/ICallHierarchyHandler.cs
  src/Protocol/Document/Proposals/ISemanticTokensHandler.cs
  src/Protocol/Models/CodeDescription.cs
  src/Protocol/Models/Diagnostic.cs
  src/Protocol/Models/DocumentSymbolRegistrationOptions.cs
  src/Protocol/Models/ICanBeResolved.cs
  src/Protocol/Models/Proposals/CallHierarchyIncomingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyItem.cs
  src/Protocol/Models/Proposals/CallHierarchyOutgoingCallsParams.cs
  src/Protocol/Models/Proposals/CallHierarchyPrepareParams.cs
  src/Protocol/Models/Proposals/SemanticTokensRegistrationOptions.cs
  src/Protocol/Models/Registration.cs
  src/Protocol/Shared/LspHandlerDescriptor.cs
  src/Protocol/TextDocumentNames.cs
  src/Server/LanguageServerHelpers.cs
  src/Shared/SharedHandlerCollection.cs
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Capabilities/Client/TextDocumentClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/ExtensionTests.cs
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/TypedCallHierarchyTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
  test/Lsp.Tests/Models/InitializeParamsTests_$SimpleTest.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

retry test
  test/Lsp.Tests/Integration/ExtensionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to the latest beta
  Directory.Build.targets
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/JsonRpc.Generators.csproj
  test/Generation.Tests/Generation.Tests.csproj
  test/Generation.Tests/GenerationHelpers.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Lsp.Tests/Integration/DisableDefaultsTests.cs
  test/Lsp.Tests/Lsp.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

only emit warning if configuration is configured and in use
  src/Server/Configuration/DidChangeConfigurationProvider.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

Added .net 5 sdk
  .azure-pipelines.yml
  .github/workflows/ci.yml
Due: prettier --write

only emit warning if configuration is configured and in use (#407)
  src/Server/Configuration/DidChangeConfigurationProvider.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated pipelines to use .net 5 sdk
  .azure-pipelines.yml
  .github/workflows/ci.yml
Due: prettier --write

Added some additional helpers for both Range and Position to make usage easier
  src/Protocol/Models/Position.Helpers.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Range.Helpers.cs
  src/Protocol/Models/Range.cs
  test/Lsp.Tests/Models/PositionTests.cs
  test/Lsp.Tests/Models/RangeTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added debugger fix
  package-lock.json
  src/Protocol/Models/Range.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Fix exception thrown by disctionary inside formatting options
  src/Protocol/Models/FormattingOptions.cs
  test/Lsp.Tests/Models/FormattingOptionsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix exception thrown by disctionary inside formatting options (#412)
  src/Protocol/Models/FormattingOptions.cs
  test/Lsp.Tests/Models/FormattingOptionsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added a few assertions for prepare rename
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added a few assertions for prepare rename (#413)
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added TestContent helper for helping to test source code
  src/Testing/PositionMarker.cs
  src/Testing/TestConfigurationProvider.cs
  src/Testing/TestContent.cs
  src/Testing/TestContentOptions.cs
  src/Testing/TestSourceHelpers.cs
  test/Lsp.Tests/Testing/TestContentTests.cs
Due: dotnet nuke lint --no-logo --lint-files

ensure prepare rename does not try to register with vscode
  src/Protocol/Document/IPrepareRenameHandler.cs
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

ensure prepare rename does not try to register with vscode (#414)
  src/Protocol/Document/IPrepareRenameHandler.cs
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to the latest spec changes
  language-server-protocol.sha.txt
  src/Protocol/Client/Capabilities/ClientCapabilities.cs
  src/Protocol/Client/Capabilities/CodeLensWorkspaceClientCapabilities.cs
  src/Protocol/Client/Capabilities/CompletionItemCapabilityOptions.cs
  src/Protocol/Client/Capabilities/FoldingRangeCapability.cs
  src/Protocol/Client/Capabilities/SemanticTokensCapability.cs
  src/Protocol/Client/Capabilities/ShowMessageRequestClientCapabilities.cs
  src/Protocol/Client/Capabilities/ShowMessageRequestMessageActionItemClientCapabilities.cs
  src/Protocol/Client/Capabilities/WindowClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceClientCapabilities.cs
  src/Protocol/Client/Capabilities/WorkspaceEditCapability.cs
  src/Protocol/Models/CompletionItem.cs
  src/Protocol/Models/FoldingRange.cs
  src/Protocol/Models/FormattingOptions.cs
  src/Protocol/Models/InitializeParams.cs
  src/Protocol/Models/InsertReplaceEdit.cs
  src/Protocol/Models/InsertTextMode.cs
  src/Protocol/Models/MessageActionItem.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Proposals/CodeLensRefreshParams.cs
  src/Protocol/Models/Proposals/SemanticTokens.cs
  src/Protocol/Models/Proposals/SemanticTokensEdit.cs
  src/Protocol/Models/PublishDiagnosticsParams.cs
  src/Protocol/Models/TextDocumentContentChangeEvent.cs
  src/Protocol/Models/WorkDoneProgressBegin.cs
  src/Protocol/Models/WorkDoneProgressReport.cs
  src/Protocol/Workspace/Proposals/CodeLensRefreshHandlerBase.cs
  src/Protocol/Workspace/Proposals/ISemanticTokensRefreshHandler.cs
  src/Protocol/WorkspaceNames.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed unit tests
  test/Lsp.Tests/Capabilities/Client/ClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Capabilities/Client/WorkspaceClientCapabilitiesTests_$SimpleTest.json
  test/Lsp.Tests/Models/CompletionItemTests_$SimpleTest.json
  test/Lsp.Tests/Models/CompletionListTests_$ComplexTest.json
  test/Lsp.Tests/Models/CompletionListTests_$SimpleTest.json
Due: prettier --write
