Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Skip on ci
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated skip
  .build/Build.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated skip
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated skip
  test/TestingUtils/SkipOnPlatform.cs
  test/TestingUtils/UnitTestDetector.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated skip
  test/TestingUtils/SkipOnPlatform.cs
  test/TestingUtils/TheoryWithSkipOnAttribute.cs
  test/TestingUtils/UnitTestDetector.cs
Due: dotnet nuke lint --no-logo --lint-files

disabled failing test (#365)
  .build/Build.cs
  README.md
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
  test/TestingUtils/SkipOnPlatform.cs
  test/TestingUtils/TheoryWithSkipOnAttribute.cs
  test/TestingUtils/UnitTestDetector.cs
Due: dotnet nuke lint --no-logo --lint-files

Update README.md
  README.md
Due: none

Started work on some starter documentation (#333)
  README.md
  docs/dap.md
  docs/jsonrpc.md
  docs/lsp.md
Due: none

Fixed dotnet hack
  .build/Solution.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated tests
  global.json
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Fixed dotnet hack (#374)
  .build/Solution.cs
  .github/workflows/ci.yml
  global.json
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Update LICENSE
  LICENSE
Due: none

Made position comparable
  src/Protocol/Models/Position.cs
  test/Lsp.Tests/Models/PositionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Added tests for prepare rename
  src/Protocol/Serialization/Converters/RangeOrPlaceholderRangeConverter.cs
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

added rename test
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Made position comparable (#378)
  src/Protocol/Models/Position.cs
  test/Lsp.Tests/Models/PositionTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix/prepare rename (#379)
  src/Protocol/Serialization/Converters/RangeOrPlaceholderRangeConverter.cs
  test/Lsp.Tests/Integration/RenameTests.cs
Due: dotnet nuke lint --no-logo --lint-files

misc items
  .editorconfig
  sample/SampleServer/DidChangeWatchedFilesHandler.cs
  sample/SampleServer/FoldingRangeHandler.cs
  src/Directory.Build.props
Due: dotnet nuke lint --no-logo --lint-files

DAP Client / Server
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Client/DebugAdapterClientProgressManager.cs
  src/Dap.Client/DebugAdapterClientResolver.cs
  src/Dap.Client/DebugAdapterClientServiceCollectionExtensions.cs
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Protocol/DebugAdapterConverters/DapClientResponseConverter.cs
  src/Dap.Protocol/DebugAdapterConverters/DapRpcErrorConverter.cs
  src/Dap.Protocol/DebugAdapterRpcOptionsBase.cs
  src/Dap.Protocol/DebugAdapterSettingsBag.cs
  src/Dap.Protocol/Server/IDebugAdapterServerProgressManager.cs
  src/Dap.Server/DebugAdapterServer.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/Dap.Server/DebugAdapterServerProgressManager.cs
  src/Dap.Server/DebugAdapterServerResolver.cs
  src/Dap.Server/DebugAdapterServerServiceCollectionExtensions.cs
  src/Dap.Server/ProgressObserver.cs
  src/Dap.Shared/DapResponseRouter.cs
  src/Dap.Shared/DebugAdapterHandlerCollection.cs
  src/Dap.Shared/DebugAdapterProtocolServiceCollectionExtensions.cs
  src/Dap.Shared/HandlerDescriptor.cs
  src/Dap.Testing/DebugAdapterProtocolTestBase.cs
  src/Dap.Testing/DebugAdapterServerTestBase.cs
  test/Dap.Tests/FoundationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed build failures
  src/Dap.Client/DebugAdapterClientServiceCollectionExtensions.cs
  src/Protocol/Server/WorkDone/WorkDoneObserver.cs
Due: dotnet nuke lint --no-logo --lint-files

Added some additional nullable annotations
  src/Client/Configuration/ChainedConfigurationProvider.cs
  src/Client/Configuration/ChainedConfigurationSource.cs
  src/Client/DefaultLanguageClientFacade.cs
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/Dap.Client/Configuration/ChainedConfigurationProvider.cs
  src/Dap.Client/Configuration/ChainedConfigurationSource.cs
  src/Dap.Client/DebugAdapterClientServiceCollectionExtensions.cs
  src/Dap.Server/Configuration/ChainedConfigurationProvider.cs
  src/Dap.Server/Configuration/ChainedConfigurationSource.cs
  src/Dap.Server/DebugAdapterServerServiceCollectionExtensions.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/RequestRouterBase.cs
  src/Protocol/DocumentUri.Internal.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.cs
  src/Protocol/LanguageProtocolRpcOptionsBase.cs
  src/Protocol/Models/DocumentSelector.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Proposals/ISemanticTokenResult.cs
  src/Protocol/Models/Proposals/SemanticTokensFullOrDelta.cs
  src/Protocol/Models/Proposals/SemanticTokensFullOrDeltaPartialResult.cs
  src/Protocol/Models/TextDocumentIdentifier.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Serialization/Converters/ProgressTokenConverter.cs
  src/Protocol/Serialization/Converters/RangeOrPlaceholderRangeConverter.cs
  src/Protocol/Serialization/Converters/TextDocumentSyncConverter.cs
  src/Protocol/Shared/LspHandlerTypeDescriptor.cs
  src/Protocol/Workspace/Proposals/ISemanticTokensRefreshHandler.cs
  src/Server/Configuration/ChainedConfigurationProvider.cs
  src/Server/Configuration/ChainedConfigurationSource.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  src/Server/LanguageServerWorkspaceFolderManager.cs
  src/Server/Pipelines/SemanticTokensDeltaPipeline.cs
  src/Shared/SharedHandlerCollection.cs
  src/Testing/LanguageProtocolTestBase.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
  test/Lsp.Tests/SemanticTokensDocumentTests.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed compiler error
  README.md
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed bug in identifier
  src/Protocol/Models/TextDocumentIdentifier.cs
Due: dotnet nuke lint --no-logo --lint-files

Added some additional nullable annotations (#380)
  README.md
  src/Client/Configuration/ChainedConfigurationProvider.cs
  src/Client/Configuration/ChainedConfigurationSource.cs
  src/Client/DefaultLanguageClientFacade.cs
  src/Client/LanguageClientServiceCollectionExtensions.cs
  src/Dap.Client/Configuration/ChainedConfigurationProvider.cs
  src/Dap.Client/Configuration/ChainedConfigurationSource.cs
  src/Dap.Client/DebugAdapterClientServiceCollectionExtensions.cs
  src/Dap.Server/Configuration/ChainedConfigurationProvider.cs
  src/Dap.Server/Configuration/ChainedConfigurationSource.cs
  src/Dap.Server/DebugAdapterServerServiceCollectionExtensions.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc/NoopResponseRouter.cs
  src/JsonRpc/RequestRouterBase.cs
  src/Protocol/DocumentUri.Internal.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.cs
  src/Protocol/LanguageProtocolRpcOptionsBase.cs
  src/Protocol/Models/DocumentSelector.cs
  src/Protocol/Models/Position.cs
  src/Protocol/Models/Proposals/ISemanticTokenResult.cs
  src/Protocol/Models/Proposals/SemanticTokensFullOrDelta.cs
  src/Protocol/Models/Proposals/SemanticTokensFullOrDeltaPartialResult.cs
  src/Protocol/Models/TextDocumentIdentifier.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Serialization/Converters/ProgressTokenConverter.cs
  src/Protocol/Serialization/Converters/RangeOrPlaceholderRangeConverter.cs
  src/Protocol/Serialization/Converters/TextDocumentSyncConverter.cs
  src/Protocol/Shared/LspHandlerTypeDescriptor.cs
  src/Protocol/Workspace/Proposals/ISemanticTokensRefreshHandler.cs
  src/Server/Configuration/ChainedConfigurationProvider.cs
  src/Server/Configuration/ChainedConfigurationSource.cs
  src/Server/LanguageServerServiceCollectionExtensions.cs
  src/Server/LanguageServerWorkspaceFolderManager.cs
  src/Server/Pipelines/SemanticTokensDeltaPipeline.cs
  src/Shared/SharedHandlerCollection.cs
  src/Testing/LanguageProtocolTestBase.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
  test/Lsp.Tests/SemanticTokensDocumentTests.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed document color handler and params
  src/Protocol/Document/IDocumentColorHandler.cs
  src/Protocol/Models/DocumentColorParams.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed document color handler and params (#383)
  src/Protocol/Document/IDocumentColorHandler.cs
  src/Protocol/Models/DocumentColorParams.cs
Due: dotnet nuke lint --no-logo --lint-files

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
