Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Fix up warnings in nuke .build
  .build/Build.cs
  .build/Configuration.cs
  .build/Solution.cs
  .nuke/build.schema.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Update dotnet monorepo
  Directory.Packages.props
Due: none

Update dependency Microsoft.CodeAnalysis.CSharp.Workspaces to v4.7.0
  Directory.Packages.props
  test/Generation.Tests/snapshots/EnumLikeStringGeneratorTests.Auto_Magically_Implements_IEnumLikeString#Test0_ThreadEventReason.verified.cs
  test/Generation.Tests/snapshots/GeneratedRegistrationOptionsTests.Supports_Generating_Strongly_Typed_Registration_Options#CodeActionRegistrationOptions.verified.cs
  test/Generation.Tests/snapshots/GeneratedRegistrationOptionsTests.Supports_Generating_Strongly_Typed_Registration_Options_With_Converters#CodeActionRegistrationOptions.verified.cs
  test/Generation.Tests/snapshots/GeneratedRegistrationOptionsTests.Supports_Generating_Strongly_Typed_WorkDone_Registration_Options#WorkspaceSymbolRegistrationOptions.verified.cs
  test/Generation.Tests/snapshots/GeneratedRegistrationOptionsTests.Supports_Generating_Strongly_Typed_WorkDone_Registration_Options_Interface#WorkspaceSymbolRegistrationOptions.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Generating_Custom_Language_Extensions#UnitTestRegistrationOptions.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Inlay_Hint#OutlayHintParams.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Inlay_Hint#Test0_OutlayHintTyped.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Nullable_Params_With_Typed_Data#SubLensParams.verified.cs
  test/Generation.Tests/snapshots/LspFeatureTests.Supports_Nullable_Params_With_Typed_Data#Test0_SubLensTyped.verified.cs
  test/Generation.Tests/snapshots/TypedCanBeResolvedTests.Supports_Generating_Strongly_Typed_ICanBeResolved_Data#Test0_CodeLensTyped.verified.cs
Due: dotnet nuke lint --no-logo --lint-files

Update dependency typescript to v5
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
  vscode-testextension/src/extension.ts
Due: prettier --write

Update dependency vscode to v1.82.0
  vscode-testextension/.gitignore
  vscode-testextension/.vscode/launch.json
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
  vscode-testextension/src/extension.ts
  vscode-testextension/test/extension.test.ts
  vscode-testextension/test/index.ts
  vscode-testextension/test/runTest.ts
  vscode-testextension/test/suite/extension.test.ts
  vscode-testextension/test/suite/index.ts
  vscode-testextension/tsconfig.json
Due: prettier --write

Update npm dependencies to latest versions
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
Due: prettier --write

Update dependency glob to v10
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
  vscode-testextension/test/suite/index.ts
Due: prettier --write

Regenerate ci github workflows from Nuke build
  .build/Build.cs
  .build/Configuration.cs
  .build/Solution.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .nuke/build.schema.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Add npm to CI build
  .build/Build.cs
  .github/workflows/ci.yml
  .nuke/build.schema.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Use temporary shorter path for vscode user data dir
  vscode-testextension/package-lock.json
  vscode-testextension/package.json
  vscode-testextension/test/runTest.ts
Due: prettier --write

Run npm test in headless mode
  .build/Build.cs
  .build/Solution.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Fix ProcessScheduler memleak
  src/JsonRpc/ProcessScheduler.cs
Due: dotnet nuke lint --no-logo --lint-files

Update verify
  Directory.Packages.props
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Should_Report_Diagnostic_If_Missing_Information.verified.txt
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Supports_Generating_Notifications_And_Infers_Direction_DidChangeTextHandler.verified.txt
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Supports_Generating_Notifications_And_Infers_Direction_ExitHandler.verified.txt
  test/Generation.Tests/snapshots/JsonRpcGenerationTests.Supports_Generating_Requests_And_Infers_Direction.verified.txt
Due: none

feat: use time span for replay buffer
  src/JsonRpc/ProcessScheduler.cs
Due: dotnet nuke lint --no-logo --lint-files

Use new WorkingDirectory property for RunStep
  .build/Build.cs
  .build/Solution.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Use new HeadlessRunStep
  .build/Solution.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix NotebookSelector type
  src/Protocol/Features/Document/NotebookDocumentSyncFeature.cs
  src/Server/Matchers/NotebookDocumentMatcher.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix RenameFiles workspace operations
  src/Protocol/Features/FileOperationsFeature.cs
  test/Lsp.Integration.Tests/FileOperationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix plural form for all FileOperations
  src/Protocol/Features/FileOperationsFeature.cs
  test/Lsp.Integration.Tests/FileOperationsTests.cs
Due: dotnet nuke lint --no-logo --lint-files

The Reuse.Transient property was unused and misleading
  src/JsonRpc/JsonRpcServerContainer.cs
Due: dotnet nuke lint --no-logo --lint-files

Add macos to ci-ignore matrix
  .github/workflows/ci-ignore.yml
Due: prettier --write

Add missing using directive
  src/JsonRpc/InputHandler.cs
Due: dotnet nuke lint --no-logo --lint-files

Update Mediatr to 9.0.0
  Directory.Packages.props
  Directory.Packages.supports.props
Due: none

fix: add ICapability to ShowMessageRequestClientCapabilities. Fixes #1117
  src/Protocol/Features/Window/ShowMessageRequestFeature.cs
Due: dotnet nuke lint --no-logo --lint-files

Install .NET 8 SDK in CI
  .github/workflows/ci.yml
Due: prettier --write

Upgrade Microsoft.Extensions.* to 8.0.0
  Directory.Packages.props
Due: none

Fix github actions badge
  README.md
Due: none

Set task as Canceled based on token
  src/JsonRpc/ResponseRouter.cs
Due: dotnet nuke lint --no-logo --lint-files

Add Shutdown(CancellationToken token)
  src/Client/LanguageClient.cs
Due: dotnet nuke lint --no-logo --lint-files

Support net8.0 TFM
  .build/.build.csproj
  .build/Solution.cs
  .github/workflows/ci.yml
  benchmarks/Pipeline/Pipeline.csproj
  global.json
  sample/SampleServer/SampleServer.csproj
  src/Client/Client.csproj
  src/Dap.Client/Dap.Client.csproj
  src/Dap.Protocol.Proposals/Dap.Protocol.Proposals.csproj
  src/Dap.Protocol/Dap.Protocol.csproj
  src/Dap.Server/Dap.Server.csproj
  src/Dap.Shared/Dap.Shared.csproj
  src/Dap.Testing/Dap.Testing.csproj
  src/JsonRpc.Testing/JsonRpc.Testing.csproj
  src/JsonRpc/JsonRpc.csproj
  src/Protocol.Proposals/Protocol.Proposals.csproj
  src/Protocol/Protocol.csproj
  src/Server/Server.csproj
  src/Shared/Shared.csproj
  src/Testing/Testing.csproj
  test/Client.Tests/Client.Tests.csproj
  test/Dap.Tests/Dap.Tests.csproj
  test/Generation.Tests/Generation.Tests.csproj
  test/JsonRpc.Tests/JsonRpc.Tests.csproj
  test/Lsp.Integration.Tests/Lsp.Integration.Tests.csproj
  test/Lsp.Tests/Lsp.Tests.csproj
  test/TestingUtils/TestingUtils.csproj
  vscode-testextension/src/extension.ts
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Enable verbose logging for Restore step
  .github/workflows/ci.yml
Due: prettier --write

Use GitVersion attribute
  .build/Build.cs
Due: dotnet nuke lint --no-logo --lint-files

Remove GitVersion.Tool from dotnet tools
  .config/dotnet-tools.json
Due: prettier --write

Remove GitVersion.Tool from build dependencies
  .build/.build.csproj
  Directory.Packages.props
Due: none

Revert "Remove GitVersion.Tool from dotnet tools"
  .config/dotnet-tools.json
Due: prettier --write

Add GitVersion.Tool to build dependencies
  .build/.build.csproj
Due: none

Remove obsolete UsesVerify test class attributes
  test/Generation.Tests/AutoImplementParamsGeneratorTests.cs
  test/Generation.Tests/EnumLikeStringGeneratorTests.cs
  test/Generation.Tests/GeneratedRegistrationOptionsTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Use .NET SDK 9.0
  .build/Solution.cs
  .github/workflows/ci.yml
  global.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
