Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": [
        "dotnet nuke lint --no-logo --lint-files"
    ],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": [
        "prettier --write"
    ]
}

fixed cleanup
  LSP.sln.DotSettings
Due: none

fix workflow folder test
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

turns out settlers weren't working as expected... who knew unit tests were so useful???!?
  src/Dap.Testing/DebugAdapterProtocolTestBase.cs
  src/Dap.Testing/DebugAdapterServerTestBase.cs
  src/JsonRpc.Testing/AggregateSettler.cs
  src/JsonRpc.Testing/JsonRpcIntegrationServerTestBase.cs
  src/JsonRpc.Testing/JsonRpcServerTestBase.cs
  src/JsonRpc.Testing/Settler.cs
  src/Testing/LanguageProtocolTestBase.cs
  src/Testing/LanguageServerTestBase.cs
  test/JsonRpc.Tests/AggregateSettlerTests.cs
  test/JsonRpc.Tests/FoundationTests.cs
  test/JsonRpc.Tests/SettlerTests.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

label fixes
  .github/label-commenter-dependabot.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

found one last Settle() call
  test/Lsp.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

swap back to using relative scheduling instead of absolute
  src/JsonRpc.Testing/Settler.cs
  test/JsonRpc.Tests/AggregateSettlerTests.cs
  test/JsonRpc.Tests/SettlerTests.cs
Due: dotnet nuke lint --no-logo --lint-files

this test hates us
  test/Lsp.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated tests
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated test timeouts
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
  test/Dap.Tests/Integration/CustomRequestsTests.cs
  test/Dap.Tests/Integration/GenericDapServerTests.cs
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Dap.Tests/Integration/RequestCancellationTests.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/RequestCancellationTests.cs
  test/Lsp.Tests/Integration/ShowMessageTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated tests
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/ShowMessageTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

try to fix ci issues with some tests
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/RequestCancellationTests.cs
  test/Lsp.Tests/Integration/ShowMessageTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

try to fix ci issues with some tests
  test/Lsp.Tests/Integration/LogMessageTests.cs
  test/Lsp.Tests/Integration/ShowMessageTests.cs
Due: dotnet nuke lint --no-logo --lint-files

try to fix ci issues with some tests
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable a few workspace tests
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable a few workspace tests
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable a few workspace tests
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

disable a few workspace tests
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix one more test!
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated lps settings
  LSP.sln.DotSettings
Due: none

updated editor config
  .config/dotnet-tools.json
  .editorconfig
  LSP.sln.DotSettings
Due: prettier --write

make cancellation tests more reslient for failure
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
  test/Dap.Tests/Integration/RequestCancellationTests.cs
  test/Lsp.Tests/Integration/RequestCancellationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated tools and remove grm (global tool is used elsewhere)
  .config/dotnet-tools.json
Due: prettier --write

Updated readme
  Directory.Build.targets
  GitReleaseManager.yaml
  README.md
Due: prettier --write

Update azure-pipelines
  .azure-pipelines.yml
Due: prettier --write

remove unused dryioc
  Directory.Build.targets
Due: none

fixed labelling bug
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-milestone.yml
  .mergify.yml
Due: prettier --write

remove unused dryioc (#306)
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-milestone.yml
  .mergify.yml
  Directory.Build.targets
Due: prettier --write

removed mediatr di
  Directory.Build.targets
  src/JsonRpc/JsonRpc.csproj
Due: none

removed mediatr di (#307)
  Directory.Build.targets
  src/JsonRpc/JsonRpc.csproj
Due: none

fix project file
  test/Lsp.Tests/Lsp.Tests.csproj
Due: none

Added fixture based tests and re-enabled disabled tests
  src/Client/LanguageClientOptions.cs
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Server/DebugAdapterServerOptions.cs
  src/JsonRpc.Testing/JsonRpcIntegrationServerTestBase.cs
  src/JsonRpc.Testing/JsonRpcTestBase.cs
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
  src/JsonRpc.Testing/Settler.cs
  src/JsonRpc/CompositeHandlersManager.cs
  src/JsonRpc/IJsonRpcHandlerRegistry.cs
  src/JsonRpc/InterimJsonRpcServerRegistry.cs
  src/JsonRpc/JsonRpcCommonMethodsBase.cs
  src/JsonRpc/JsonRpcOptionsRegistryBase.cs
  src/JsonRpc/OutputHandler.cs
  src/Server/LanguageServerOptions.cs
  test/Dap.Tests/Integration/Fixtures/DebugAdapterProtocolFixture.cs
  test/Dap.Tests/Integration/Fixtures/DebugAdapterProtocolFixtureTest.cs
  test/Dap.Tests/Integration/Fixtures/DefaultClient.cs
  test/Dap.Tests/Integration/Fixtures/DefaultOptions.cs
  test/Dap.Tests/Integration/Fixtures/DefaultServer.cs
  test/Dap.Tests/Integration/Fixtures/IConfigureDebugAdapterClientOptions.cs
  test/Dap.Tests/Integration/Fixtures/IConfigureDebugAdapterProtocolFixture.cs
  test/Dap.Tests/Integration/Fixtures/IConfigureDebugAdapterServerOptions.cs
  test/Dap.Tests/Integration/ProgressTests.cs
  test/JsonRpc.Tests/TestLanguageServerRegistry.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/Fixtures/DefaultClient.cs
  test/Lsp.Tests/Integration/Fixtures/DefaultOptions.cs
  test/Lsp.Tests/Integration/Fixtures/DefaultServer.cs
  test/Lsp.Tests/Integration/Fixtures/IConfigureLanguageClientOptions.cs
  test/Lsp.Tests/Integration/Fixtures/IConfigureLanguageProtocolFixture.cs
  test/Lsp.Tests/Integration/Fixtures/IConfigureLanguageServerOptions.cs
  test/Lsp.Tests/Integration/Fixtures/LanguageProtocolFixture.cs
  test/Lsp.Tests/Integration/Fixtures/LanguageProtocolFixtureTest.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
  test/TestingUtils/AutoNSubstitute/TestLoggerFactory.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed settler tests and hardened settler a little bit more
  src/JsonRpc.Testing/JsonRpcIntegrationServerTestBase.cs
  src/JsonRpc.Testing/JsonRpcTestBase.cs
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
  src/JsonRpc.Testing/JsonRpcTestOptionsExtensions.cs
  src/JsonRpc.Testing/Settler.cs
  test/Dap.Tests/Integration/ConnectionAndDisconnectionTests.cs
  test/JsonRpc.Tests/AggregateSettlerTests.cs
  test/JsonRpc.Tests/SettlerTests.cs
  test/Lsp.Tests/Integration/ConnectionAndDisconnectionTests.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/ShowMessageTests.cs
  test/Lsp.Tests/Integration/WorkspaceFolderTests.cs
Due: dotnet nuke lint --no-logo --lint-files

lets keep this going
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/RequestCancellationTests.cs
Due: dotnet nuke lint --no-logo --lint-files

skip progress tests
  src/Dap.Protocol/IProgressObservable.cs
  src/Dap.Protocol/Models/ProgressToken.cs
  src/Protocol/Models/ProgressToken.cs
  test/Dap.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

equals was a mistake
  src/Dap.Protocol/Models/ProgressToken.cs
  src/Protocol/Models/ProgressToken.cs
  test/Dap.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

progress tests
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

progress tests
  src/JsonRpc.Testing/AggregateSettler.cs
  test/Dap.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files
