Repository OmniSharp/csharp-language-server-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": [
        "dotnet nuke lint --no-logo --lint-files"
    ],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": [
        "prettier --write"
    ]
}

Added support for open generic params and handler interfaces.
  src/Dap.Protocol/Models/ProgressToken.cs
  src/Dap.Protocol/Serialization/ProgressTokenConverter.cs
  src/Dap.Protocol/Serialization/Serializer.cs
  src/JsonRpc.Generators/Contexts/SyntaxSymbol.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/Strategies/ExtensionMethodGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestTypedResolveMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestTypedResolveMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  src/Protocol/Shared/LspHandlerDescriptor.cs
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Lsp.Tests/ClientCapabilityProviderTests.cs
  test/Lsp.Tests/FoundationTests.cs
  test/Lsp.Tests/Integration/ExecuteTypedCommandTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed json name of adapterID for debug adapter protocol (#475)
  src/Dap.Client/DebugAdapterClientOptions.cs
  src/Dap.Protocol/Feature/Requests/InitializeRequestFeature.cs
  src/Dap.Protocol/Requests/IInitializeRequestArguments.cs
Due: dotnet nuke lint --no-logo --lint-files

Correct readme path to hopefully fix #469 (#474)
  .build/Build.cs
Due: dotnet nuke lint --no-logo --lint-files

Added support for open generic params and handler interfaces. (#479)
  src/Dap.Protocol/Models/ProgressToken.cs
  src/Dap.Protocol/Serialization/ProgressTokenConverter.cs
  src/Dap.Protocol/Serialization/Serializer.cs
  src/JsonRpc.Generators/Contexts/SyntaxSymbol.cs
  src/JsonRpc.Generators/GenerateHandlerMethodsGenerator.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/Strategies/ExtensionMethodGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/HandlerGeneratorStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestTypedResolveMethodGeneratorWithRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/OnRequestTypedResolveMethodGeneratorWithoutRegistrationOptionsStrategy.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/Protocol/Features/Workspace/ExecuteCommandFeature.cs
  src/Protocol/Shared/LspHandlerDescriptor.cs
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Lsp.Tests/ClientCapabilityProviderTests.cs
  test/Lsp.Tests/FoundationTests.cs
  test/Lsp.Tests/Integration/ExecuteTypedCommandTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Attributes
  src/Directory.Build.props
  src/Protocol.Proposals/Client/Capabilities/ProposedClientCapabilities.cs
  src/Protocol.Proposals/Client/Capabilities/ProposedGeneralClientCapabilities.cs
  src/Protocol.Proposals/Client/Capabilities/ProposedTextDocumentClientCapabilities.cs
  src/Protocol.Proposals/Client/Capabilities/ProposedWindowClientCapabilities.cs
  src/Protocol.Proposals/Client/Capabilities/ProposedWorkspaceClientCapabilities.cs
  src/Protocol.Proposals/Serialization/ProposedCapabilitiesConverter.cs
  src/Protocol.Proposals/Serialization/ProposedLspSerializer.cs
  src/Protocol.Proposals/Server/Capabilities/ProposedServerCapabilities.cs
  src/Protocol.Proposals/Server/Capabilities/ProposedWorkspaceServerCapabilities.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated docs slightly
  docs/lsp.md
Due: none

internals here... internals there...
  LSP.sln
  src/Client/Client.csproj
  src/Dap.Client/Dap.Client.csproj
  src/Dap.Protocol.Proposals/Dap.Protocol.Proposals.csproj
  src/Dap.Protocol/Dap.Protocol.csproj
  src/Dap.Server/Dap.Server.csproj
  src/Dap.Shared/Dap.Shared.csproj
  src/Dap.Testing/Dap.Testing.csproj
  src/Directory.Build.props
  src/JsonRpc.Generators/JsonRpc.Generators.csproj
  src/JsonRpc/JsonRpc.csproj
  src/Protocol.Proposals/Protocol.Proposals.csproj
  src/Protocol/Protocol.csproj
  src/Server/Server.csproj
  src/Shared/Shared.csproj
  src/Testing/Testing.csproj
Due: none

Allow logs to fail
  .github/workflows/ci.yml
Due: prettier --write

Fix invalid cast issue in omnisharp-roslyn by fixing LspHandlerDescriptor .ctor
  src/Protocol/Shared/LspHandlerDescriptor.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix invalid cast issue in omnisharp-roslyn by fixing LspHandlerDescriptor .ctor (#488)
  src/Protocol/Shared/LspHandlerDescriptor.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated covertlet, dryioc and nuke
  Directory.Build.targets
Due: none

Updated covertlet, dryioc and nuke (#507)
  Directory.Build.targets
Due: none

Added Container.From. do not serialize out the PrivateHandlerId if it's empty. StringOrMarkupContent implict conversion should be nullable.
  src/Dap.Protocol/Models/Container.cs
  src/Protocol/Models/Container.cs
  src/Protocol/Models/StringOrMarkupContent.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  test/Lsp.Tests/CompletionItemKindTests.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
Due: dotnet nuke lint --no-logo --lint-files

try and fix #486
  src/Dap.Client/DebugAdapterClient.cs
Due: dotnet nuke lint --no-logo --lint-files

Minor updates. (#509)
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Protocol/Models/Container.cs
  src/Protocol/Models/Container.cs
  src/Protocol/Models/StringOrMarkupContent.cs
  src/Server/Pipelines/ResolveCommandPipeline.cs
  test/Lsp.Tests/CompletionItemKindTests.cs
  test/Lsp.Tests/Matchers/ResolveCommandMatcherTests.cs
Due: dotnet nuke lint --no-logo --lint-files

fix gittools actions to use the latest tagged release, the master branch as been renamed to main which caused the break
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
Due: prettier --write

fix gittools actions to use the latest tagged release, the master branch as been renamed to main which caused the break (#510)
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
Due: prettier --write

WIP tracing support
  build.sh
  src/Dap.Protocol/DapReceiver.cs
  src/Dap.Protocol/DebugAdapterConverters/DapClientNotificationConverter.cs
  src/Dap.Protocol/DebugAdapterConverters/DapClientRequestConverter.cs
  src/Dap.Shared/DebugAdapterRequestRouter.cs
  src/JsonRpc/Client/OutgoingNotification.cs
  src/JsonRpc/Client/OutgoingRequest.cs
  src/JsonRpc/IActivityTracingStrategy.cs
  src/JsonRpc/JsonRpc.csproj
  src/JsonRpc/Receiver.cs
  src/JsonRpc/RequestRouter.cs
  src/JsonRpc/RequestRouterBase.cs
  src/JsonRpc/Serialization/Converters/ClientNotificationConverter.cs
  src/JsonRpc/Serialization/Converters/ClientRequestConverter.cs
  src/JsonRpc/Server/Notification.cs
  src/JsonRpc/Server/Request.cs
  src/Shared/LspRequestRouter.cs
Due: dotnet nuke lint --no-logo --lint-files

wip scheduler fix
  src/JsonRpc.Testing/JsonRpcTestOptions.cs
  src/JsonRpc.Testing/JsonRpcTestOptionsExtensions.cs
  test/Lsp.Tests/Integration/CustomRequestsTests.cs
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
  test/TestingUtils/AutoNSubstitute/TestExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed issues with scheduling around partial items and results. This will fix flakey tests, as well as possible edge cases where partial items are consumed in rapid succession
  src/Client/LanguageClient.cs
  src/Client/LanguageClientOptionsExtensions.cs
  src/Dap.Client/DebugAdapterClient.cs
  src/Dap.Client/DebugAdapterClientOptionsExtensions.cs
  src/Dap.Server/DebugAdapterServer.cs
  src/Dap.Server/DebugAdapterServerOptionsExtensions.cs
  src/Dap.Shared/DebugAdapterEventingHelper.cs
  src/Dap.Testing/DebugAdapterProtocolTestBase.cs
  src/Dap.Testing/DebugAdapterServerTestBase.cs
  src/JsonRpc.Generators/Helpers.cs
  src/JsonRpc.Generators/Strategies/SendMethodRequestStrategy.cs
  src/JsonRpc.Testing/JsonRpcTestBase.cs
  src/JsonRpc.Testing/JsonRpcTestOptionsExtensions.cs
  src/JsonRpc.Testing/Settler.cs
  src/JsonRpc/JsonRpc.csproj
  src/JsonRpc/JsonRpcServerOptionsBase.cs
  src/JsonRpc/JsonRpcServerOptionsExtensions.cs
  src/JsonRpc/JsonRpcServerServiceCollectionExtensions.cs
  src/JsonRpc/SchedulerContainer.cs
  src/Protocol/AbstractHandlers.cs
  src/Protocol/Features/Document/SemanticTokensFeature.cs
  src/Protocol/Features/ProgressFeature.cs
  src/Protocol/LanguageProtocolDelegatingHandlers.cs
  src/Protocol/LanguageProtocolEventingHelper.cs
  src/Protocol/Progress/IProgressManager.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/ProgressManager.cs
  src/Protocol/Progress/RequestProgressObservable.cs
  src/Server/Configuration/DidChangeConfigurationProvider.cs
  src/Server/LanguageServer.Shutdown.cs
  src/Server/LanguageServer.cs
  src/Server/LanguageServerOptionsExtensions.cs
  src/Testing/LanguageProtocolTestBase.cs
  src/Testing/LanguageServerTestBase.cs
  test/TestingUtils/ModuleInitializerAttribute.cs
  test/TestingUtils/XUnitPlatformEnlightenmentProvider.cs
Due: dotnet nuke lint --no-logo --lint-files

rollback changes from wip commit
  src/JsonRpc/SchedulerContainer.cs
  test/Lsp.Tests/Integration/CustomRequestsTests.cs
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
  test/TestingUtils/AutoNSubstitute/TestExtensions.cs
  test/TestingUtils/ModuleInitializerAttribute.cs
  test/TestingUtils/XUnitPlatformEnlightenmentProvider.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated sample project
  sample/SampleServer/SampleServer.csproj
Due: none

Fix nullable struct enum deserialization
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
Due: dotnet nuke lint --no-logo --lint-files

Improve typing
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
Due: dotnet nuke lint --no-logo --lint-files

Add comment
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix syntax + return type
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed a bug where nullable enum like classes could not be deserialized correctly
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
  test/Dap.Tests/EnumLikeConverterTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated sample project version
  sample/SampleServer/SampleServer.csproj
Due: none

Added test for null cases as well
  sample/SampleServer/SampleServer.csproj
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
  test/Dap.Tests/EnumLikeConverterTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed a bug where nullable enum like classes could not be deserialized correctly (#564)
  sample/SampleServer/SampleServer.csproj
  src/JsonRpc/Serialization/Converters/EnumLikeStringConverter.cs
  test/Dap.Tests/EnumLikeConverterTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated replay subject
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/RequestProgressObservable.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated tests to run generation tests on all platforms
  test/Client.Tests/ClientTests.cs
  test/Dap.Tests/Integration/ProgressTests.cs
  test/Generation.Tests/AutoImplementParamsGeneratorTests.cs
  test/Generation.Tests/EnumLikeStringGeneratorTests.cs
  test/Generation.Tests/GeneratedRegistrationOptionsTests.cs
  test/Generation.Tests/JsonRpcGenerationTests.cs
  test/Generation.Tests/LspFeatureTests.cs
  test/Generation.Tests/TypedCanBeResolvedTests.cs
  test/JsonRpc.Tests/RecursiveResolutionTests.cs
  test/Lsp.Tests/Integration/CustomRequestsTests.cs
  test/Lsp.Tests/Integration/ExtensionTests.cs
  test/Lsp.Tests/Integration/ProgressTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed schedulers for replay subjects
  src/Client/LanguageClientRegistrationManager.cs
  src/Client/LanguageClientWorkspaceFoldersManager.cs
  src/Dap.Client/ProgressObservable.cs
  src/JsonRpc/ProcessScheduler.cs
  src/Protocol/Progress/PartialItemsRequestProgressObservable.cs
  src/Protocol/Progress/ProgressObservable.cs
  src/Protocol/Progress/RequestProgressObservable.cs
  src/Server/LanguageServerWorkspaceFolderManager.cs
  test/Lsp.Tests/Integration/DynamicRegistrationTests.cs
  test/Lsp.Tests/Integration/LanguageServerConfigurationTests.cs
  test/Lsp.Tests/Integration/PartialItemTests.cs
  test/Lsp.Tests/Integration/PartialItemsTests.cs
  test/Lsp.Tests/Integration/TypedCodeActionTests.cs
  test/Lsp.Tests/Integration/TypedCodeLensTests.cs
  test/Lsp.Tests/Integration/TypedCompletionTests.cs
  test/Lsp.Tests/Integration/TypedDocumentLinkTests.cs
  test/TestingUtils/AutoNSubstitute/TestExtensions.cs
  test/TestingUtils/RetryFactAttribute.cs
  test/TestingUtils/RetryFactDiscoverer.cs
  test/TestingUtils/RetryTestCase.cs
  test/TestingUtils/RetryTestCaseRunner.cs
  test/TestingUtils/RetryTheoryAttribute.cs
  test/TestingUtils/RetryTheoryDiscoverer.cs
  test/TestingUtils/RetryTheoryDiscoveryAtRuntimeCase.cs
Due: dotnet nuke lint --no-logo --lint-files

Change ThreadsHandler Thread type to model type
  src/Dap.Protocol/Feature/Requests/ThreadsFeature.cs
Due: dotnet nuke lint --no-logo --lint-files

Add osharp_pack dir to .gitignore
  .gitignore
Due: none

Fix thread debugging (#567)
  .gitignore
  src/Dap.Protocol/Feature/Requests/ThreadsFeature.cs
Due: dotnet nuke lint --no-logo --lint-files
